@{
    ViewBag.Title = "Chemical Injection Mandrel Testing Report";
}

<div class="container-white shadow">

<h2>Chemical Injection Mandrel Testing Report</h2>

<p style="padding:10px;">

    <b>Shell Offshore, Inc.</b>
    <br /><br />
    Attendees:<br />
    Shell Deepwater Production<br />
    Barry C. Ellis, Seal-Tite® International<br />
    Enterra Chemical Injection Mandrel<br />
    Preheat, Inc.<br />
    Shawn Higganbotham, McMurry - Macco<br />
    <br /><br />
    This report is designed to explain the effects that were encountered when a trial application of Seal-Tite® sealant was applied to the chemical injection mandrel. The following test was performed at NOVA Technology Corporation's Lafayette facility on October 23, 1998.
    <br /><br />
    The following is a sequential chain of events:
    <br /><br />
    1. Mandrel was pre-heated to 150 degrees using Pre Heat, Inc. of Broussard, Louisiana.
    <br /><br />
    2. Check valves on mandrel were removed to allow the installation of an altered fitting into the inlet port of the valve. (This fitting was a 1/2" NPT Nipple that was cut across the threads using a shop saw and then installed with a 1/2" collar.)
    <br /><br />
    3. The check valves along with a supply line from a nitrogen source were installed. (At this time McMurry installed a spring loaded 2,000 psi internal valve Macco to simulate a back pressure from FTP/flow tubingpressure.) The manifold provided by FMC was used to simulate sub-surface fittings and restrictions that may be encountered in this system.
    <br /><br />
    4. The nitrogen source was opened and an immediate leak was detectable at start up on the altered fitting.
    <br /><br />
    5. The severity of the leak we created was very severe and it was doubtful that we could repair that large of a leak path. We proceeded with the test to show the effects of a severe leak in a chemical injection system.
    <br /><br />
    6. We proceeded to pump MB 525 through the leak path to insure that the flow stream was clean and unobstructed. No pressure build-up was encountered at the pump.
    <br /><br />
    7. We then mixed a solution of Seal-Tite® and MB 525 and pumped this solution into the leak path and attempted to seal the leak.
    <br /><br />
    8. The severity of this leak did not allow us to seal the leak in this altered fitting.
    <br /><br />
    9. The decision to replace the altered fitting with one that would leak without alteration was made to show the effects of Seal-Tite® sealing a leak.
    <br /><br />
    10. A 1/2" NPT fitting was installed hand tight and then backed out two turns to allow a noticeable leak path when nitrogen was applied.
    <br /><br />
    11. When nitrogen was applied to this fitting a very noticeable leak occurred.
    <br /><br />
    12. When the pump was engaged using Seal-Tite® to pump into the leak path an immediate sealing of the leak occurred.
    <br /><br />
    13. After the leak was repaired and pressure increased to 2,000 psi the internal valve opened allowing excess sealant to flow out into the tubing cavity.
    <br /><br />
    14. A pressure test was done for 90 minutes against the 2,000 psi internal valve and no leak was found.
    <br /><br />
    15. The internal valve was removed and a dummy valve was installed to allow increased pressure to be applied to 5,000 psi.
    <br /><br />
    16. At 5,000 psi the Walther coupling provided by FMC started leaking and we were forced to reduce our pressure to 2,500 psi and monitor for leaks.
    <br /><br />
    17. No leaks were found and the 2,000 psi internal valve was reinstalled and a flush procedure was applied to insure the chemical injection system was unobstructed and reusable. Upon inspection on the system it was discovered that the integrity of the Seal-Tite® seal was intact and the chemical injection system was unobstructed and usable.
    <br /><br />
    18. The 2,000 psi internal valve was taken to McMurry Macco for inspection and reports indicate that the valve although had residual sealant was not affected or damaged in any way.
    <br /><br />
    19. The manifold provided by FMC did not show any signs of residue in any of its components.
    <br /><br />
</p>

</div>