@{
    ViewBag.Title = "Filter Test Gly-Flo";
}

<div class="container-white shadow">

<h2>Filter Test Gly-Flo</h2>

<p style="padding:10px;">
    
    <b>C.D.A. and Associates, Inc.</b><br />
    Analytical and Corrosion Services<br />
    P.O. Box 51641 Lafayette, La. 70505<br />
    Office 318-237-2342<br />
    Fax 318-237-8982<br />
    March 22, 1999<br />
    Test Report by Cedric D. Adams<br />
    <br />
    <b>Report Number 990029</b><br />
    Specialized testing of Seal-Tite® sealant and HW-525
    <br /><br />
    The following tests have been conducted to certify the capabilities and compatibility of the Seal-Tite® Gly-Flo sealant. The sealant was received by C.D.A. and Associates, Inc. as a field strength compound. The compound is referred to as Gly-Flo. The Gly-Flo mixture was reported to be 50 percent Seal-Tite® sealant and 50 percent HW-525.
    <br /><br />
    <b>Discussion of Test Results</b><br />
    The results of the individual tests are attached at the end of this report.
    <br /><br />
    <ul>
        <li><b>A. HW-525 Compatibility Test</b><br />
            The Seal-Tite® sealant was received already mixed into HW-525, therefore, to determine the compatibility of the Seal-Tite® sealant with HW-525, the Gly-Flo compound which had the appearance of a pink liquid suspension was centrifuged at 1,500 rpm for 5 minutes. The results indicated a minor separation at the top of the centrifuge tube of 10 % of the total volume. The separated liquid was a clear pink. The bottom of the tube contained 1.3 % white particles. The remaining liquid was stable.
            <br /><br />
            The HW-525 compatibility test results are included in Attachment A.
            <br /><br />
        </li>

        <li><b>B. Thermal Test</b><br />
            Thermal tests were performed at -1 °C (30 °F), 24 o C (75 o F), and 66 °C (150°F) to determine if the Gly-Flo and the HW-525 were stable at these various temperatures. The samples were inspected visually at 24 hours, at 48 hours, and at 72 hours. The results indicate that very little separation occurs in the HW-525 material or Gly-Flo material at -1 o C and at 24 o C.
            At 66 o C, the HW-525 liquid turned green and had slight separation at the top. At 66 o C, significant separation occurs in the Gly-Flo material. Samples of each of the Gly-Flo layers were extracted and separately observed. The top layer was a clear dark pink liquid. The middle layer was an opaque pink liquid. The bottom layer was light pink liquid. Although each layer was a different color, the three layers seemed to have similar flow characteristics. Solids were not observed in any of the layers. The sample was briefly agitated using 50 shakes and the layering disappeared. The mixed liquid had the same general characteristics as the original sample of Gly-Flo.
            <br /><br />
            The visual results of this test for the Gly-Flo material are shown in Figures 1, 2, 3, and 4. These figures show the samples at the start of the test, at 24 hours, at 48 hours, and at 72 hours. The same test was conducted on the HW-525 material. Figures 5, 6, 7, and 8 show the progress of HW-525 material at each time interval.
            <br /><br />
            The thermal test results are included in Attachment B.
            <br /><br />
        </li>

        <li><b>C. Viscosity Tests</b><br />
            The viscosity of the HW-525 and the Gly-Flo sealant were run at temperatures of -1° C (30 °F), 24 °C (75 °F), and 66 °C (150 °F). The viscosity values were reported in centipoise (cP) using a Fann model 39 viscometer, which was equipped with a temperature probe. The results indicated that the temperature did not significantly affect the viscosity of these liquids. The viscosity of the HW-525 ranged from 2.0 cP at 66 o C to 3.0 cP at -1 o C. These values were slightly less than the viscosity of the Gly-Flo, which was approximately 10.5 cP at all temperatures.
            <br /><br />
            The viscosity test results are included in Attachment C.
            <br /><br />
        </li>

        <li><b>D. Sea Water Compatibility Test</b><br />
            The Gly-Flo and the HW-525 were mixed 50/50 by volume into a synthetic seawater brine with a chloride content of approximately 35,000 mg/l. To determine the compatibility of the compounds with seawater the sample mixtures allowed to stand at room temperature for three days. The bottles were inspected at 24-hour intervals. Figures 9, 10, 11, and 12 show the samples at initial mix, at 24 hours, at 48 hours, and at 72 hours. The HW-525 became hazy immediately after mixing with the seawater. In Figure 10, it was clear that the HW-525 separated into two layers during the first 24 hours. The top 10% was a dark hazy blue while the remaining liquid was a clear light blue. The Gly-Flo in seawater showed a slight separation after 48 hours. The separation was at the top and was approximately 2 % of the total volume.
            <br /><br />
            The sea water compatibility report is included in Attachment D.
            <br /><br />
        </li>

        <li><b>E. Nylon Compatibility Test</b><br />
            Two samples of nylon were measured for thickness and weighed. One sample was immersed in the Gly-Flo and the second was immersed in HW-525. The samples were maintained at a temperature of 66 °C (150°F) for seventy-two (72) hours. After the 72-hour period the samples were again measured and weighed. The sample, which had been immersed in Gly-Flo, had a slight yellow tint. The sample had increased in weight from 1.8884 grams to 2.0332 grams or 7.7 %. The thickness of the sample had increased from 0.126 inches to 0.128 inches or 1.6 %. The sample, which had been immersed in HW-525, had a blue tint. The sample had increased in weight from 1.7991 grams to 1.9520 grams or 8.5 %. The thickness of the sample had increased from 0.126 inches to 0.129 inches or 2.4 %. There did not appear to be any changes in the mechanical integrity of the nylon samples. The nylon samples at the start of the test are shown in Figure 13. The samples at the end of the test are shown in Figure 14.
            <br /><br />
            The test results are included in Attachment E.
            <br /><br />
        </li>

        <li><b>F. Elastomer Compatibility Test</b><br />
            Samples of 90d elastomer were measured, weighed, and immersed in samples of the Gly-Flo and the HW-525. The samples were stored at a temperature of 66 °C (150°F) for seventy-two (72) hours. The elastomer samples were removed at the end of the test and again measured and weighed. The samples were also inspected for mechanical integrity. The results indicate that the elastomer sample immersed in the HW-525 increased slightly in diameter and weight. The weight increase from 0.5336 grams to 0.5573 grams represents an increase of 4.4 %. The diameter increase was from 0.101 inches to 0.102 inches or less than 1 %. The elastomer sample immersed in the Gly-Flo had no increase in diameter and an increase in weight from 0.4557 grams to 0.4635 grams or 1.7 %. The test conditions did not appear to affect the integrity of the two samples. The elastomer samples at the end of the test are shown in Figure 15.
            <br /><br />
            The elastomer compatibility test results are included in Attachment F.
            <br /><br />
        </li>

        <li><b>G. Bacterial Action Test</b><br />
            An active sulfate reducing bacteria culture (1,000,000 colonies/ml) was used for this test. The culture media, which contained the bacteria, was mixed 50/50 by volume with sterile water, HW-525, and Gly-Flo. The mixtures were allowed to stand at 35 o C (95 o F) for 2 hours. Standard serial dilutions were then made to six (6) bottles deep. The culture media was 3 % NaCl brine. The bottles were placed in an incubator at 35 o C (95 o F). The bottles were inspected for bacterial growth after seventy-two (72) hours. At the end of the 72 hour period, all test bottles had positive results. These results would indicate that neither the HW-525 nor the Gly-Flo is a deterrent to bacterial growth. The culture bottles at the end of the test are shown in Figure 16.
            <br /><br />
            The bacteria test report is included in Attachment G.
            <br /><br />
        </li>

        <li><b>H. Corrosion Test</b><br />
            Coupon samples of 316 stainless steel, 4140 carbon steel, 1045 carbon steel, and 15-5 ph stainless steel were measured, weighed, and immersed in Gly-Flo and in HW-525 at a temperature of 66 °C (150°F) for seventy-two (72) hours. The coupons were then processed as per NACE standard RP-07. The general corrosion rate was calculated based on weight loss. The pit depths were measured using an anvil micrometer and the pitting corrosion rate was calculated based on the pit depth.
            <br /><br />
            Figures 17 and 18 show the test bottles at the beginning of the test while Figures 19 and 20 show the test bottles at the end of the test. It was noted that the Gly-Flo bottle containing the C-1045 coupon had become discolored during the test. There was a slight gray tint to the pink liquid.
            <br /><br />
            Figures 21 and 22 show the C-4140 coupons at the beginning and at the end of the test. Coupon #11 was in the HW-525 and coupon #12 was in the Gly-Flo. The corrosion rate of the coupon in HW-525 (1.74 mpy) was slightly higher than the corrosion rate of the coupon that was in the Gly-Flo (1.17 mpy). Neither of the coupons had any signs of pitting; therefore, the pitting rates were zero.
            <br /><br />
            Figures 23 and 24 show the C-1045 coupons at the beginning and at the end of the test. Coupon #1 was in the HW-525 and coupon #2 was in the Gly-Flo. The corrosion rate of the coupon in HW-525 (0.84 mpy) was slightly less than the corrosion rate of the coupon that was in the Gly-Flo (1.38 mpy). The coupon that was in the Gly-Flo was tarnished.
            <br /><br />
            This surface discoloration is clearly seen in Figure 24. Neither coupon was pitted however and the pitting rate was zero.
            <br /><br />
            Figures 25 and 26 show the 316L stainless steel coupons at the beginning and at the end of the test. Coupon #31 was in the HW-525 and coupon #32 was in the Gly-Flo. The corrosion rate of the coupon in HW-525 (0.54 mpy) was slightly higher than the corrosion rate of the coupon that was in the Gly-Flo (0.24 mpy). Both of these corrosion rates are extremely low. Neither of the coupons had any signs of pitting.
            <br /><br />
            Figures 27 and 28 show the 15-5 ph stainless steel coupons at the beginning and at the end of the test. Coupon #1 was in the HW-525 and coupon #2 was in the Gly-Flo. The corrosion rate of the coupon in HW-525 was only 0.18 mpy and the corrosion rate of the coupon that was in the Gly-Flo was 0.0mpy. There was no pitting on these coupons. The results of the corrosion tests indicate that neither the HW-525 nor the Gly-Flo are very corrosive to the metals which were tested.
            <br /><br />
            The corrosion test report is included in Attachment H.
            <br /><br />
        </li>

        <li><b>I. Bio-degradation Test</b><br />
            A sample of the catalyzed Gly-Flo sealant was weighed and immersed in sea water at a temperature of 66 °C (150°F) for seventy-two (72) hours. At the end of the test the material was visually inspected for changes and re-weighted. The sample had lost a slight amount of weight. The original weight was 1.0384 grams. The final weight was 1.0131 grams. This represents a weight loss of 2.4 %. The sample, which had a slight pink color at the start of the test, appeared to have been bleached by the seawater. The material appeared to be chemically inert. The seawater, which had been clear at the start of the test, had a slight haze at the end of the test. The sample at the end of the test is shown in Figure 29.
            <br /><br />
            The results of the bio-degradation test are included in Attachment I.
            <br /><br />
        </li>

        <li><b>J. Falex, Pin-on-Vee Testing</b><br />
            The Falex Pin-on-Vee tests were conducted at The Lubrizol Corporation laboratories in Cleveland, Ohio. The testing was under the direction of Thomas Derevjanik, research engineer and group leader of the mechanical production bench testing department. All tests were observed by Cedric D. Adams.
            <br /><br />
            The test results include the initial and final temperature of the liquid, the true fail load in pounds and the type of failure. The report shows that the HW-525 had a torque type failure at 2300 pounds of load. The Gly-Flo had a wear type failure at 2700 pounds of load. The Falex test apparatus is shown in Figure 30.
            <br /><br />
            A close-up of the pin and vee block is shown in Figure 31. Figure 32 shows the technician conducting the test. A close-up of a new vee block, pin, and shear pin are shown in Figure 33. The vee block and pin after the test with Gly-Flo are shown in Figure 34. The wear on the pin is obvious. The pin from the HW-525 test is shown in Figure 35. The shear pin had sheared in the test due to torque failure. The test procedure and test results are included in Attachment J. Also included is a technical paper "Falex Procedures for Evaluating Lubricants" by F. A. Faville and W. A. Faville published in the Journal of the American Society of Lubrication Engineers, August, 1968, which describes the test in detail and describes the interpretations of the test results.
            <br /><br />
        </li>

        <li><b>K. Filter Test</b><br />
        The filter test, which has been developed by Seal-Tite®, was performed to determine if the sealant would plug restrictions in a system. The test apparatus is shown in Figure 36. The Gly-Flo sealant was pumped from a reservoir through a 40-micron filter at low flow rates for 3 minutes. The filter and filter housing are shown in Figures 37 and 38. A differential pressure of approximately 50 psi was noted across the filter but no plugging took place. When the flow rate was increased using an electric pump the differential pressure increased to greater than 100 psi. This high differential pressure shut down the pump but did not plug the 40-micron filter. if you have any questions or if I may be of further assistance, please do not hesitate to call.
        <br /><br />
        </li>
    </ul>
    Cedric D. Adams

</p>

</div>