@{
    ViewBag.Title = "Specialized Test-Gly-Flo";
}


<div class="container-white shadow">

<h2>Specialized Test-Gly-Flo</h2>

<p style="padding:10px;">

    <B>C.D.A. and Associates, Inc.</B><br />
    April 14, 1999<br />
    <br />
    <B>Report Number 990367, Filter Test</B><br />
    Addendum to Report Number 990029, Specialized testing of Seal-Tite® sealant and HW-525
    <br /><br />
    The filter test was conducted to certify the capabilities of the Seal-Tite® Gly-Flo sealant. This test completes the series of tests performed with the Gly-Flo sealant. The sealant was received by c.d.a. and associates, inc. as a field strength compound. The compound, which is referred to as Gly-Flo, was reported to be 50 percent Seal-Tite® sealant and 50 percent HW-525.
    <br /><br />
    <B>Filter Test</B><br />
    The filter test, which was developed by Seal-Tite®, was performed to determine if the Gly-Flo sealant would plug restrictions or mesh filters in a system. The apparatus used for this test consisted of a reservoir for the Gly-Flo sealant, a liquid transfer pump, a filter housing, and a downstream reservoir to collect the Gly-Flo, which had been pumped through the filter. The sealant was pumped through a 10-micron filter at a flow rate of 3 to 4 gallons per minute for 1 hour. It was noted that, during this period the upstream pressure varied slightly as the flow rate varied, however, the maximum pressure noted was slightly less than 50 psi. At the end of the test, the filter housing was opened and the filter was removed. Figure 1 shows the filter in the filter housing at the end of the test. Figure 2 shows the filter as compared to a new filter. There was some liquid on the filter surface; however, no solid material or plugging was noted. 
    <br /><br />
</p>

</div>