@{
    ViewBag.Title = "Subsurface Safety Valve Testing Report";
}

<div class="container-white shadow">

<h2>Subsurface Safety Valve Testing Report</h2>

<p style="padding:10px;">

    <b>Petrobras</b>
    <br /><br />
    <b>Summary</b><br />
    Petrobras personnel created simulated severe leaks in both wireline and tubing retrievable subsurface safety valves to test the ability of Seal-Tite® to cure the leaks using Seal-Tite's pressure activated sealant. Using procedures identical to procedures used in the field, the Seal-Tite® engineer was able to cure each simulated leak. Videos of the tests are included on Seal-Tite's CD-ROM. The Seal-Tite® seal was able to hold constant pressure at the maximum design pressure of 5,000 psi for the test components. The valves were fully functional after curing the leaks with the Seal-Tite® sealant. After dismantling the equipment, the Petrobras personnel verified that the sealant caused no adverse effects to any of the components.
    <br /><br />
    <b>Testing Procedures</b><br />
    The purpose of this testing was to determine the ability of the Seal-Tite® pressure activated sealant to cure simulated severe leaks in wireline and tubing retrievable subsurface safety valves. The tests were performed at Petrobras' facility in December, 1999.
    <br /><br />
    <b>Tubing Retrievable Valve</b><br />
    Petrobras removed the O-ring from the piston that activates the flapper valve. The O-ring is the primary seal for the piston. The secondary guide ring remained as the only sealing surface on the piston. The leak rate through the piston was 60 liters per hour.
    <br /><br />
    <b>Wireline Retrievable Valve</b><br />
    A grinder was used to severely damage both sets of V-packing on a wireline retrievable subsurface safety valve. The leak rate through the damaged V-packing was in excess of 80 liters per hour.
    <br /><br />
    <b>Leak Sealing Procedure</b><br />
    Initially, in each case, after creating the simulated leak paths, a flow of hydraulic fluid was established through the simulated leaks to verify the leak rates and the severity of each leak.
    <br /><br />
    To duplicate the conditions of a typical hydraulic system, the sealant was pumped from the Seal-Tite® injection system through a simulated system of multiple valves and lengthy umbilical lines before being tied into the test valves.
    <br /><br />
    For each valve, once the leak had been verified, the Seal-Tite® pressure activated sealant was injected. As the seal was established by the sealant polymerization process, the operation of the valve was monitored. For both valves, when the seal was able to withstand a pressure of 1500 to 2000 psi, the valve opened normally. Thereafter, the seal was allowed to cure for a brief period and the pressure was raised to the full operational pressure of 5000 psi. As a final test, the valves were cycled over ten times to verify that the full operation capabilities of the valves were maintained. Petrobras was able to cycle the valves with no loss of hydraulic fluid; thus, proving that the leaks were cured and the valves were fully operational.
    <br /><br />
    <b>Analysis of Dismantled Equipment</b><br />
    After the tests were concluded, the equipment was dismantled and examined. As reported by the testing personnel, the liquid sealant polymerized into a rubber-like substance within the damaged areas resulting in effective leak stoppage. The sealant was effective in curing the leaks in both the unsealed piston and the damaged V-packing. In each instance, the testing personnel found that the components were easily disassembled. No seizing between components occurred due to the presence of the polymerized Seal-Tite® sealant in the leak paths. Additionally, the Seal-Tite® sealant did not cause any damage to any of the test components.
    <br /><br />
</p>

</div>