@{
    ViewBag.Title = "Subsurface Safety Valve Testing Report";
}

<div class="container-white shadow">

<h2>Subsurface Safety Valve Testing Report</h2>

<p style="padding:10px;">

    <b>Pemex</b>
    <br /><br />
    <b>Summary</b><br />
    At the Well Services Department of Pemex, Seal-Tite® cured a simulated severe leak in a subsurface safety valve. After curing the leak, Pemex was able to cycle the test valve repeatedly to verify that the valve was fully functional.
    <br /><br />
    After the successful shop test, a leaking installed SCSSV was selected to verify the shop results in the field. The selected SCSSV was of a different manufacturer and type. The high viscosity oil used to maintain the valve open was displaced and sealant injected into the control line. Over a brief period of time, the leak was cured to a pressure of 5000 psi. After verifying the functionality of the valve, the pressure was reduced to the operating pressure of 3200 psi and the valve tied back into the main hydraulic control panel.
    <br /><br />
    <b>Cost Savings</b><br />
    As documented by Pemex, the typical repair cost for changing a leaking SCSSV is over US $243,000. Seal Tite was able to cure both the simulated SCSSV leak and the existing field SCSSV leak for a fraction of the cost of Pemex's typical repair cost.
    <br /><br />
    <b>Pemex SPE Paper</b><br />
    The results of Pemex's field and shop evaluation of the Seal-Tite® pressure activated sealant can be found in SPE Paper No. 59026. The paper is entitled, "Leak Sealant in Hydraulic Systems Minimizes Maintenance Costs in Offshore Wells". Miguel A. Mendoza and Javier Hernandez of Pemex prepared the SPE paper.
    <br /><br />
</p>

</div>