@{
    ViewBag.Title = "Subsea Control Valve Testing Report";
}

<div class="container-white shadow">

<h2>Subsea Control Valve Testing Report</h2>

<p style="padding:10px;">

    <b>Major Valve Manufacturer</b>
    <br /><br />
    <b>Background</b><br />
    An operating company was experiencing a leak in a subsea control valve in the Gulf of Mexico. To verify that Seal-Tite® could cure the leak, the operator asked a major valve manufacturer in Houston to reproduce the leak and test the ability of Seal-Tite® to cure the simulated leak.
    <br /><br />
    <b>Test Procedures</b><br />
    A simulated leak was created in an identical subsea control valve by crimping the metal-to-metal seal that was the suspected source of the leak. The severity of the leak was verified by pumping nitrogen through the damaged valve while the valve was suspended in a vat of water. As shown on the video of the testing, the water roiled from the large quantity of escaping gas.
    <br /><br />
    Once the leak had been verified, the Seal-Tite® pressure activated sealant was injected. A seal was quickly established by the sealant polymerization process. Thereafter, the seal was allowed to cure for a brief period and the pressure was raised to the full operational pressure of 5000 psi. To show the strength of the seal, the pressure on the valve was increased to 7000 psi. As a final test, the valve was cycled to verify that the full operation capabilities of the valve were maintained. The engineers were able to cycle the valve with no loss of hydraulic fluid; thus, proving that the leak was cured and the valve was fully operational.
    <br /><br />
    <b>Results</b><br />
    The simulated leak was cured and the Seal-Tite® seal was able to withstand a pressure of 7000 psi (2000 psi over normal working pressure).
    <br /><br />
</p>

</div>