@{
    ViewBag.Title = "Subsea SCSSV Control Circuit Testing Report";
}

<div class="container-white shadow">

<h2>Subsea SCSSV Control Circuit Testing Report</h2>

<p style="padding:10px;">

    <b>Independent Oil Company and a Major Equipment Manufacturer</b>
    <br /><br />
    <b>Background</b><br />
    An operating company was experiencing a leak in a subsea SCSSV control valve in the North Sea. Working with a major equipment manufacturer, the operator constructed a test assembly consisting of the components of the subsea SSSV control system including a tree cap, xmas tree, the subsea tree SSSV control circuit and an umbilical line. The operator wanted to verify that Seal-Tite® could cure the field leak without plugging vital components.
    <br /><br />
    <b>Tree Pressure Drop Test</b><br />
    One objective of the test was to ascertain the pressure drop occurring across a subsea control circuit at different flow rates. Seal-Tite® sealant was pumped through the test assembly at flow rates from 1.5 liters per minute to 4.0 liters per minute. The tubing hanger SSSV poppet (at the bottom of the tubing hanger) was left open to simulate a parted control line.
    <br /><br />
    Pressure drops up to 320 psi were experienced in the test assembly at a flow rate of 4.0 liters per minute. Even at a pressure drop of 320 psi, no polymerization of the sealant was experienced in the test assembly. The sealant did not clog any components of the test assembly,
    <br /><br />
    <b>Seal-Tite® Sealant Test</b><br />
    Another objective of the test was to simulate a control line leak and attempt to seal the leak using Seal-Tite® pressure activated sealant. The first simulated leak was approximately 20 liters per minute and was created by cutting through the threads of an NPT blanking plug at the end of the control line. This leak was beyond the capabilities of the Seal-Tite® sealant.
    <br /><br />
    The second simulated leak was created by loosening the NPT blanking plug at the end of the control line. The leak rate of 0.75 liters per minute at 2,000 psi was established through the leaking NTP plug. The sealant was pumped through the test assembly to the leaking NTP plug.
    <br /><br />
    Within thirty minutes of commencing pumping of the sealant, the leak rate was noticeably diminished. Within one hour, the leak was sealed and the control line was holding 2,000 psi. After a brief curing time, the pressure was increased to 4,000 psi and remained stable through the end of the testing.
    <br /><br />
    <b>Conclusions</b><br />
    At pressure drops below 320 psi, the Seal-Tite® sealant will not plug any of the components of a subsea SSSV control circuit. The Seal-Tite® sealant is able to cure leaks of up to 0.75 liters per minute at 2,000 psi and establish a seal that is sufficient to hold at a pressure of 4,000 psi.
    <br /><br />
</p>

</div>