@{
    ViewBag.Title = "Umbilical Line Testing Report";
}


<div class="container-white shadow">

<h2>Umbilical Line Testing Report</h2>

<p style="padding:10px;">

    <B>Petrobras</B>
    <br /><br />
    <B>Summary</B><br />
    Petrobras provided a damaged section of umbilical line to test the ability of Seal-Tite® to cure umbilical leaks using Seal-Tite's pressure activated sealant. Using procedures identical to procedures used in the field, the Seal-Tite® engineer was able to cure each simulated leak. The Seal-Tite® seal was able to hold constant pressure at the maximum design pressure of 5,000 psi until the end fitting of the umbilical failed and blew out. The Petrobras personnel verified that the sealant did not plug the umbilical line or any fittings.
    <br /><br />
    <B>Testing Procedures</B><br />
    The purpose of this testing was to determine the ability of the Seal-Tite® pressure activated sealant to cure simulated severe leaks in the fittings, connections and hose of an umbilical line. The line was weak and worn from prior use. The tests were performed at Petrobras' facility in December, 1999.
    A hole was made in the umbilical using a 1/16 inch nail. A JIC connection was damaged. Due to the poor quality of the worn umbilical and fittings, it was expected that other leaks would appear.
    <br /><br />
    <B>Leak Sealing Procedure</B><br />
    As soon as HW525 fluid was pumped through the umbilical, leaks appeared through the nail hole and through the JIC connection. After the leaks were established, the sealant was pumped into the umbilical. As the injection pressure reached 1800 psi, the leak through the nail hole was sealed. As the injection pressure reached 2000 psi, three additional leaks appeared in the umbilical line. As additional sealant was pumped, the leak in the JIC connection was cured. By cycling the injection pressure between 1000 psi and 2500 psi, the leak rates were reduced and, after a few minutes, the remaining three leaks were cured. As pressure was increased to 3000 psi, a new leak appeared. Although the pressure dropped to 2000 psi, by continuing to pump sealant, the new leak was cured in less than ten minutes. As pressure was increased to 4500 psi, the last leak reappeared, but was quickly re-cured. Once all leaks were cured, the pressure was raised to 5000 psi. With the pressure stable at 5000 psi and all leaks cured, the end fitting of the umbilical line failed and catastrophically failed. No further test could be performed on the umbilical line due to the end fitting failure.
    <br /><br />
    <B>Analysis of the Umbilical Line</B><br />
    After the tests were concluded, the umbilical line and fittings were examined. As reported by the testing personnel, the liquid sealant polymerized and cured the leaks without plugging the umbilical line or fittings. Fluid was still able to flow through the umbilical line and out of the end of the line.
    <br /><br />
</p>


</div>