@{
    ViewBag.Title = "Wellhead And Hanger Testing Report";
}

<div class="container-white shadow">

<h2>Wellhead And Hanger Testing Report</h2>

<p style="padding:10px;">

    <b>Major Wellhead Manufacturer</b>
    <br /><br />
    <b>Summary</b><br />
    Personnel from a major wellhead manufacturer created simulated severe leaks in wellhead components to test the ability of Seal-Tite® to cure the leaks using Seal-Tite's pressure activated sealant. Using procedures identical to procedures used in the field, the Seal-Tite® technician was able to cure each simulated
    leak. The Seal-Tite® seal was able to hold pressure at the maximum design pressures of the test components. The test equipment included wellheads and other components rated at various pressures up to 15,000 psi. After dismantling the equipment, the manufacturer's personnel were unable to find that the sealant caused any adverse effects to any of the test components.
    <br /><br />
    <b>Testing Procedures</b><br />
    The purpose of this testing was to determine the ability of the Seal-Tite® pressure activated sealant to cure simulated severe leaks in wellhead hangers and other components. The tests were performed at the manufacturer's facility on August 19/20, 1999.
    <br /><br />
    Manufacturer's personnel damaged seals and seal profiles to create leak that were at least as severe as is typically experienced in the field. A grinder was used to create the damage to the components.
    <br /><br />
    <b>Tested Wellhead Components</b>
        <ol>
            <li>7 1/16 Tubing Hanger-15,000 psi.</li>
            <li>13 5/8 Casing Hanger-3,000 psi. (w/ primary plate and tubing spool) (13 5/8 x 9 5/8)</li>
            <li>9 inch tubing head for storage well-5,000 psi.</li>
        </ol> 
        <br /><br />
    <b>Leak Sealing Procedure</b><br />
    Initially, in each case, after creating the simulated leak path, a flow of nitrogen was established through the simulated leak. The flow of nitrogen verified the severity of each leak.
    <br /><br />
    The Seal-Tite® proprietary injection system was tied into the test port of the wellhead. Sealant was injected into nitrogen stream and pumped into the test port. Injection was regulated to establish a differential pressure of 500 psi to 1800 psi through the leak path.
    <br /><br />
    The differential pressure through the leak caused the sealant to polymerize in the leak path. As resistance to the pumping indicated formation of a seal, the pumping rate was reduced with pumping continuing until a seal of the leak was established at the maximum allowed working pressures of the test components (3,000
    psi/5,000 psi/15,000 psi). Once the maximum allowed working pressures was reached, sealant pumping was stopped and the seal allowed to cure. The Seal-Tite® injection system was rigged down.
    <br /><br />
    After curing the seal, nitrogen alone was used to cycle pressure between zero pressure and the maximum allowed working pressures of the test components. By cycling the pressure using nitrogen, the manufacturer's personnel attempted to breach the Seal-Tite® seal and cause the leaks to reappear. Despite the cycling of pressure, the leaks did not reappear.
    <br /><br />
    As a last step in the testing, a successful Bubble Test was performed on the 7 1/16 Tubing Hanger to the maximum allowed working pressure of 15,000 psi.
    <br /><br />
    <b>Analysis of Dismantled Equipment</b><br />
    After the tests were concluded, the equipment was dismantled and examined.
    <br /><br />
    As reported by the testing personnel, the liquid sealant polymerized into a rubber-like substance within the damaged areas resulting in effective leak stoppage. The sealant was effective in both elastomer O-rings and metal to metal seals.
    <br /><br />
    In each instance, the testing personnel found that the components were easily disassembled. No seizing between components occurred due to the presence of the polymerized Seal-Tite® sealant in the leak paths. Additionally, the Seal-Tite® sealant did not cause any damage to any of the test components.
    <br /><br />
</p>


</div>