@{
    ViewBag.Title = "Applications";
}

<div class="container-white shadow">

<div class="container-hs">
<h2 style="margin-left:3%;">Applications</h2>
</div>
    <p>
        <img src="../../Content/images/AllUsesCollage-320x.jpg" style="float:right; padding-left:15px;" />
        Seal-Tite® sealants can be used in the harshest operational environments and will maintain their sealing integrity 
        up to 500º F and to 22,000 psi. You can depend on it for high pressure leak repair jobs. Sealants compatible with 
        oil or water/glycol-based hydraulic fluids are designed to solidify only at the high point of differential pressure,
        so only the leak is sealed. Any excess sealant remains inert, in a liquid form, and will not clog the hydraulic system
        or other equipment. The environmentally approved sealant can be left in the system indefinitely or flushed out. The 
        pressure-activated sealant technology was originally developed in 1995 to seal leaks in the hydraulic systems of 
        control lines and SCSSVs. Since then, the proprietary technology has been expanded to cure leaks in many applications 
        including the following. 
    </p>

    <p>
     <center>
     <table>
        <tr>
          <td>
            <h3>Surface Leaks</h3>
            <ul>
                <li>Pipeline Pinholes & Weld Defects</li>
                <li>Flange Connections</li> 
                <li>Flange Connections</li>
                <li>Ball & Gate Valves</li>
                <li>Platform Structural Clamps</li>
            </ul>
          </td>
          <td>
            <h3>Wellhead Leaks</h3>
            <ul>
                <li>Ring Gaskets</li>
                <li>Gate Valves & Actuators</li>
                <li>Tubing & Casing Hangers</li>
                <li>Bradenheads</li>
                <li>Steam Injection</li>
            </ul> 
          </td>
    </tr>
    <tr>
        <td>
            <h3>Cement Leaks</h3>
            <ul>
                <li>Microannulus</li>
                <li>P & A Cement</li>
                <li>Cavern Casing Shoes</li>                                                               
            </ul>
           <br />
            <h3>Downhole Leaks</h3>
            <ul>
                <li>SCSSV's & Control Lines</li>
                <li>Chemical Injection Mandrels</li>
                <li>P & T Guage Mandrels</li>
                <li>Sliding Sleeves</li>
                <li>Seal Units & Packers</li>
                <li>Tubing & Casing</li>
                <li>Liner Hangers</li>
                <li>Tie Back Assemblies</li>
                <li>Choke Bodies</li> 
                <li>Tubing & Downhole</li>                                                             
            </ul>
        </td>
        <td>
            <h3>Subsea Leaks</h3>
            <ul>
                <li>Pipeline Ball Valves</li>
                <li>Pipeline Risers & Clamps</li>
                <li>Swivels & Misalignments</li>
                <li>Umbilicals & Manifolds</li>
                <li>Riser Choke & Kill Lines</li>
                <li>Subsea Connectors</li>
                <li>Subsea Trees & Wellheads</li>
                <li>Gate Valves & Actuators</li>
                <li>Choke Bodies</li> 
                <li>Tubing & Downhole</li>                                                             
            </ul>
        </td>
    </tr> 
  </table>
  </center>

  <center>You can view how several of the applications can be applied on our<a href="Videos"> <font color="black"><b>videos and animations</b></font> </a>page.</center>

 </p>
</div>