@{
    ViewBag.Title = "CaseHistories";
}

<div class="container-white shadow">

<div class="container-hs">
<h2 style="margin-left:3%;">Case Histories</h2>
</div>

<ul id="caseTab"  class="nav nav-tabs">
    <li class="active"><a href="#home" data-toggle="tab">Home</a></li>
    <li><a href="#CasingRiserTubing" data-toggle="tab">Casing, Riser and Tubing</a></li>
    <li><a href="#DownholeEquipment" data-toggle="tab">Downhole Equipment</a></li>
    <li><a href="#Microannulus" data-toggle="tab">Microannulus</a></li>
    <li><a href="#Pipelines" data-toggle="tab">Pipelines</a></li>
    <li><a href="#SCSSV" data-toggle="tab">SCSSVs and Control Lines</a></li>
    <li><a href="#Subsea" data-toggle="tab">Subsea</a></li>
    <li><a href="#Umbilicals" data-toggle="tab">Umbilicals</a></li>
    <li><a href="#Wellhead" data-toggle="tab">Wellhead and Trees</a></li>
    <li><a href="#Other" data-toggle="tab">Other Applications</a></li>
</ul>

<div id="tabContent" class="tab-content">
    <div class="tab-pane fade in active" id="home">
        <p>
            Seal-Tite® International is dedicated to providing superior service to our customers. Part of this service
            is keeping track of how well our sealants perform for various types of leak repair applications. When new 
            or challenging jobs are completed we strive to document the event for reference by our customers. We also 
            maintain a jobs data base to track our success rates for each type of leak repair that we perform. This 
            information is a useful tool that our customers use to evaluate the alternatives available for their leak 
            repair. In many cases Seal-Tite® is the preferred alternative based on cost, risk of injury and environmental 
            impact, and time required to fix the leak and return to normal operations.
            <br /><br />
            Reference the menu on the left and click on the leak repair application of interested and the Success Rates tab
            to see our overall success rate for each application. 
            <br /><br />
            <center>
            <img src="../../Content/images/Economic Report Stills (1015).jpg" style=" width:70%; height:70%;" />
            </center>
        </p>
    </div>
    <div class="tab-pane fade in" id="CasingRiserTubing">
        <p>
            <h4>Casing Connections</h4>

            <p>
                Published Article - Casing Leaks In the March 2001 edition of World Oil (Volume
                222, Number 3, page 97), CamWest, Inc. and Seal-Tite® published a joint article
                entitled "Pressure-Activated Sealant Repairs Casing Leaks. Casing pressure results
                in sustained casing pressure and fluid loss." This article describes Seal-Tite's
                success in curing four CamWest casing leaks. The article outlines the cost savings
                and risk reduction of using Seal-Tite® versus a conventional workover intervention.
                (<a href="../../Content/Docs/Article10-World_Oil-Pressure.pdf" target="_blank"><font color="black"><b>World Oil Magazine Article</b></font></a>)
                <br /><br />
            </p>
            <p>
               <h4>Casing Leak</h4> 
                
                A lead atch on the casing of a gas lifted 
                producing well was leaking. A leak path had developed from the casing patch to the 
                outside of the casing strings, resulting in gas bubbling to the surface around the 
                platform. Using Seal-Tite's pressure-activated sealant atomized into gas lift gas, 
                Seal-Tite® was able to create a differential pressure through the leak site, activate 
                the sealant mechanism and cure the leak. By using ®, the customer was able to cure the 
                leak without resorting to expensive and risky rig operations, saving more than $500K.
            </p>
        </p>
            <center>
            <div class="container-video">
                <h4>Riser Repair</h4>
                <p>
                <iframe allowfullscreen="" frameborder="0" height="320" src="http://www.youtube.com/embed/1PDn-JAf0l0?hl=en&amp;fs=1" width="435"></iframe>
                </p>
            </div>
            </center>
            <p>
                <br /><br />
                <a href="../../Content/Docs/Deepwater_Riser_Leak_Repair-Technical_Paper.pdf" target="_blank"><font color="black"><b>Read the Complete Technical Paper</b></font></a>
                <br /><br />
                Seal-Tite’s pressure activated sealant technology was utilized to repair a leaking joint in a drilling 
                riser choke line at approximately 4,200 ft water depth in the Gulf of Mexico. The leak rate was aggravated 
                by loop currents exceeding 2.5 knots. The sealant was displaced to the leaking connection with seawater by 
                irculating down the choke line and taking returns on the kill line. Once the sealant was in place the BOP 
                crossover valve was closed and sealant was squeezed into the leaking seals. Over the next 12 hours the sealant 
                injection pressure was steadily increased until an 8,000 psi seal was achieved. This pressure was held for 
                8 hours to allow the sealant to cure, during which no significant pressure bleedoff was observed. The sealant 
                was then flushed from the system and the choke line tested to 7500 psi, allowing normal drilling operations 
                to resume. The riser was tested to the 7,500 psi operating pressure every three days during the remaining 
                30 days of the drilling operation with no leaks observed.
                <br /><br />
            </p>

            <p>
                <h4>Tubing</h4>
                <b>Tubing Leaks - Algeria</b> <br />
                In Algeria, a gas injector well had tubing leaks at depths above the safety valve. Injection pressure was 5050 psi. 
                After bleeding off pressure from the P1 annulus, the pressure increased at a rate of 150 to 200 psi per hour through 
                the tubing leak. During the Seal-Tite® operation, injecting gas and venting the P1 annulus established the leak path. 
                While injecting gas, the sealant was atomized into the gas stream. A differential pressure was created from the tubing 
                to the P1 annulus and the sealant was carried through the leak path with the injection gas. The sealant polymerized in 
                the leak path and sealed the leak. At the conclusion of the sealant operation, the P1 annulus was shut-in and the 
                shut-in P1 pressure stabilized to 35 psi.
                <br /><br />
                <b>Tubing Leaks - Gulf of Mexico</b> <br />
                Pre-job testing indicated a tubing leak at 16,000 feet, and the subsequent diagnostics confirmed a connection leak. 
                Annulus pressure increased to 6000 psi within two days after bleed off and CO2 and H2S were in the annulus gas sample. 
                An 18-barrel polymer pill followed by a two-barrel Seal-Tite® sealant pill were injected into the annulus. The pills 
                were displaced down the annulus with sodium bromide and the sealant was extruded through the tubing leak into the gas 
                stream. A differential pressure was maintained across the leak until the leak was sealed. The tubing leak was sealed 
                without interrupting production. The alternative to the Seal-Tite® sealant solution would have been to shut-in the well 
                and conduct a $1 million tubing replacement workover.
                <br /><br />
            </p>
    </div>

    <div class="tab-pane fade in" id="DownholeEquipment">
        <p>
            <b>Packer Leak</b> <br />
            Pre-job diagnostics indicated a tubing leak in a Gulf of Mexico well. Prior to the Seal-Tite® operation, a spinner survey 
            was performed. Based on the survey, it was determined that the leak was near the packer. The Seal-Tite® pressure-activated 
            sealant was delivered to just above the packer by a dump bailer. Pressure was released from the casing and the shut-in tubing 
            pressure was maintained at approximately 5000 psi. A differential pressure was created from the tubing to the casing annulus 
            and the sealant was carried through the leak path. The above process was repeated six times with six separate dump bailing 
            operations. With each operation, the casing pressure was reduced until it reached zero pressure.
            <br /><br />
            <b>Packer Leak</b><br />
            BP was experiencing a packer leak of almost a barrel per minute. The first Seal-Tite® operation was to use only Seal-Tite® sealant 
            to cure the leak, but was unsuccessful due to the severity of the leak. During the second operation, cement was circulated through 
            the leak. As expected, gas bubbling through the cement created micro-channels and only a partial seal was established. Both oil 
            and water-based Seal-Tite® sealants were then displaced below the packer without success. Finally, a weighted, water-based sealant 
            was pumped down the annulus and through the micro-channels in the cement. As the sealant was pumped through the micro-channels, the 
            differential pressure through the micro-channels caused the liquid sealant to polymerize into a flexible solid that closed off the 
            leak paths through the cement. The packer leak was sealed and the casing pressure was eliminated.
            <br /><br />
            <b>PBR Leaks</b><br />
            A Gulf of Mexico well was experiencing leaks through the polished bore receptacle at a depth of approximately 14,100´. A Seal-Tite® 
            engineer ran troubleshooting diagnostics and verified the communication leak through a polished bore receptacle. Seal-Tite® pumped an 
            18 Bbl HEC pill, followed by a 2 Bbl Seal-Tite® sealant pill, followed by 9.0# NaBr mixture. The Seal-Tite® engineer maintained 
            pressure across leak site until the sealant pill crossed the leak site. As the leak sealed, a slight pressure increase was observed 
            and the pumping was stopped. The engineer bled off the casing pressure, shut-in the casing and monitored the pressure. There was no 
            pressure increase on the casing, indicating that the leak was sealed.<br /><br />
        </p>
    </div>

    <div class="tab-pane fade in" id="Microannulus">
        <p>
            <b>South Timberlier Area, Gulf of Mexico</b><br />
            The subject well had experienced a Sustained Casing Pressure (SCP) problem for several years in the
            13-3/8" x 9-5/8" annulus. Diagnostics indicated that the pressure source was most likely a zone at the 13-3/8" casing shoe, 
            traveling to the surface via a microannular channel. When bled to zero, the pressure would increase to 1015 psi within 3 hours. 
            A sustained flow of approximately 1.6 gallons per hour was recorded.
            <br /><br />
            Seal-Tite® International injected approximately 30 gallons of customized sealant, filling the microannulus to an estimated depth 
            of over 4000 ft. Once the sealant was allowed to cure, the annulus was bled off and the pressure response recorded. The pressure 
            held at 0 psi for several days, and then began building at approximately 60 psi per day until the original pressure of 1300 psi was reached.
            <br /><br />
            A second sealant treatment of 25 gallons was then pumped into the microannulus and displaced with nitrogen. After one week the 
            nitrogen pressure was bled off and the annulus pressure observed. After a period of 43 days, the annulus pressure has fluctuated 
            between 75 psi and 300 psi, apparently in relation to thermal effects.
            <br /><br />
            <b>Background:</b><br />
            The subject well was completed in November, 1991 with a TD of 14,310' MD. The casing program consisted of 30" drive pipe, 20" surface, 
            13-3/8" & 9-5/8" intermediate, and 7 " production. The casing string characteristics are listed below:
            <br /><br />
            <table cellpadding="0" cellspacing="0" border="0" style="border-color:Black;" class="table table-striped table-bordered">
                <thead style="background-color:#0077b8;">
                    <tr>
                        <td>Casing String</td> <td>Shoe Depth</td> <td>Burst</td> <td>Collapse</td> <td>Cement Info</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>30"</td> <td>254 ft</td> <td>-   </td> <td>-   </td> <td>Drive Pipe</td>
                    </tr>
                    <tr>
                        <td>20"</td> <td>1,010 ft</td> <td>-   </td> <td>-   </td> <td>Details unknown- reported to surface</td>
                    </tr>
                    <tr>
                        <td>13 3/8", 47 #/ft N80 Butt</td> <td>4,499 ft</td> <td>5,020 psi</td> <td>1,950 psi</td> <td>Details unknown- reported to surface</td>
                    </tr>
                    <tr>
                        <td>9 5/8", 47 #/ft S95 Butt</td> <td>11,371 ft</td> <td>8,150 psi</td> <td>5,080 psi</td> <td>Details unknown- reported to surface</td>
                    </tr>
                    <tr>
                        <td>7" 32#/ft P-110 LT&C</td> <td>14,200 ft</td> <td>11,640 psi</td> <td>10,760 psi</td> <td>Details unknown- reported to surface</td>
                    </tr>
                </tbody>
            </table>
            <br /><br />
            In August, 2002 the Operator contacted Seal-Tite® International to evaluate and possibly repair the subject leak 
            eal-Tite® specializes in repairing leaks in various systems for the oil and gas industry. Recently they collaborated 
            with Cementing Solutions Inc., a recognized industry expert in oilfield cement systems, to develop sealants and 
            methodologies specifically for microannular problems.<br />
            <br />
            <b>Leak Analysis:</b><br />
            On site diagnostics conducted by Seal-Tite® technicians indicated a stabilized fluid feed-in rate of 100 ml/min, and the 
            ability to pump into the microannulus at 2 liters/hour at 1200 psi, increasing to 17 liters/hour at 2500 psi. Analysis of 
            the pressure diagnostics for all strings indicates that the pressure source for the subject annulus is most likely a 
            reservoir close to the 13-3/8" shoe, traveling up the annulus via a "microannulus channel". The observed pressure is very 
            similar to the pressure expected in a reservoir at that depth.<br />
            <br />
            <b>Work Summary:</b><br />
            In October, 2002 a Seal-Tite® technician was mobilized to the platform. The procedure involved bleeding the annulus to zero 
            and then slowly atomizing a customized blend of sealant into the annulus. Injection continued over the space of six days, 
            interspersed by bleed-off periods to begin sealant activation. A total of 30 gallons of sealant was successfully injected 
            into the annular area, at a maximum injection pressure of 2500 psi. Nitrogen pressure was left on the annulus to allow the 
            sealant to cure.<br />
            <br />
            After 3 days the pressure was released and the casing vented for one hour. A 7 day chart was placed on the casing to monitor 
            the pressure increase. Over the course of 27 days the casing pressure slowly built back up to 1300 psi. This corresponds to 
            the initial buildup rate of 3 hours, for a reduction of 99.5%.<br />
            <br />
            In November 2002 a technician was mobilized to perform a second sealant application. The annulus pressure was again bled to 
            zero. Additional sealant was then injected into the annulus and allowed to cure. The pressure was bled off and monitored. After 
            43 days the casing pressure of 75-300 psi has been observed to fluctuate according to thermal effects, which is expected due 
            to a fluid packed annulus. No sustained feed-in has been recorded.<br />
            <br />
            <b>Conclusion:</b><br />
            The procedures developed and implemented by Seal-Tite® International have effectively sealed the microannulus channel in the 
            subject wellbore.<br />
            <br />
            High Island Area, Gulf of Mexico<br />
            The subject well had experienced a Sustained Casing Pressure (SCP) problem for several years in the 10-3/4” x 7-5/8" annulus. 
            Diagnostics indicated that the pressure source was most likely a zone at the 10-3/4” casing shoe, traveling to the surface via 
            a microannular channel. When bled to zero, the pressure would increase to 1300 psi within 45 minutes, for an equivalent calculated 
            rate of 7.6 MCF/day.<br />
            <br />
            Seal-Tite® International developed and injected approximately 15 gallons of customized sealant, filling the microannulus to an 
            estimated depth of over 1200 ft. Once the sealant was allowed to cure, the annulus was bled off and the pressure response recorded. 
            The initial feed in rate was calculated to be only 0.042 MCF/Day, a reduction of 99.4%. A second sealant treatment of 20 gallons 
            was then applied and the casing again bled to zero.<br />
            <br />
            After 69 days the annulus pressure had built up to 825 psi. This corresponds to a calculated inflow rate of 0.023 MCF/day, a 
            99.9% reduction in the original inflow rate.<br />
            <br />
            <b>Background:</b><br />

            The subject well was completed in July 1978 with a TD of 8,316'. The casing program consisted of 26" drive pipe, 16" surface, 10-3/4" 
            intermediate, and 7-5/8" production. The casing string characteristics are listed below:<br />
            <br />
            <table cellpadding="0" cellspacing="0" border="0" style="border-color:Black;" class="table table-striped table-bordered">
                <thead style="background-color:#0077b8;">
                    <tr>
                        <td>Casing String</td> <td>Shoe Depth</td> <td>Burst</td> <td>Collapse</td> <td>Cement Info</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>26”</td> <td>655 ft</td> <td>-   </td> <td>-   </td> <td>Drive Pipe</td>
                    </tr>
                    <tr>
                        <td>16", 65#/ft H40 Butt</td> <td>1,022 ft</td> <td>1,640 psi</td> <td>670 psi</td> <td>850 sxs + 230 sxs grout</td>
                    </tr>
                    <tr>
                        <td>10-3/4", 45.5 #/ft K55 Butt</td> <td>4,500 ft</td> <td>3,580 psi</td> <td>2,090 psi</td> <td>2359 sxs</td>
                    </tr>
                    <tr>
                        <td>7-5/8" 26.4#/ft N80 LT&C</td> <td>8,316 ft</td> <td>6,020 psi</td> <td>3,400 psi</td> <td>2365 sxs, cement to surface</td>
                    </tr>
                </tbody>
            </table>
            <br /><br />
            The first significant casing pressure on the 10-3/4" x 7-5/8" annulus was reported in 1988, with a reported pressure of 1665 psi. 
            Standard "bleed and build" diagnostics indicated that the pressure would bleed to zero within 2 hours with an effluent of only gas. 
            Within 12 hours the pressure would build back up to 1400 psi, eventually building to 1665 psi or 47% of burst pressure. Standard 
            diagnostics performed in subsequent years indicated a very similar pattern.
            <br /><br />
            In April, 2002 the Operator contacted Seal-Tite® International to evaluate and possibly repair the subject leak Seal-Tite® specializes 
            in repairing leaks in various systems for the oil and gas industry. Recently they collaborated with Cementing Solutions Inc., a 
            recognized industry expert in oilfield cement systems, to develop sealants and methodologies specifically for microannular problems.
            <br /><br />
            <b>Leak Analysis:</b><br />
            Drilling records indicate that the 7-5/8" casing string was cemented with full returns to the surface. This is supported by a rapid 
            (5 minutes or less) pressure bleedoff of the 10-3/4" x 7-5/8" annulus observing only gas as the effluent. Analysis of the pressure 
            diagnostics for all strings indicates that the pressure source for the 10-3/4" x 7-5/8" annulus is most likely a stray gas reservoir 
            close to the 10-3/4" shoe, traveling up the annulus via a "microannulus channel". The observed pressure is very similar to the 
            pressure expected in a reservoir at that depth.
            <br /><br />
            It is unlikely that the pressure response is from a casing leak, as the adjacent casing annuli exhibit pressure substantially lower 
            than is observed on the subject annulus. In addition pressure diagnostics indicated that bleeding or injecting into the adjacent annuli 
            had no effect on the study annulus.
            <br /><br />
            In October of 2000 an injection test was performed in which approximately 8 gallons of fluid were injected into the microannulus over a 
            space of 24 hours. Previous testing has indicated a typical microannulus to have a thickness of 0.005" to 0.10". Therefore in terms of 
            microannular volume this could be equivalent to a length of over 1000 ft.
            <br /><br />
            These injection diagnostics were repeated in June of 2002 with similar results. With these results in hand, a procedure and work plan was 
            developed.
            <br /><br />
            <b>Work Summary:</b><br />
            In July, 2002 a Seal-Tite® technician was mobilized to the platform. The procedure involved bleeding the annulus to zero and then slowly 
            atomizing a customized blend of sealant into the annulus. Injection continued over the space of three days, interspersed by bleed-off 
            periods to begin sealant activation. A total of 57 liters (15 gallons) of sealant were successfully injected into the annular area, at 
            a maximum injection pressure of 2500 psi. Nitrogen pressure was left on the annulus to allow the sealant to cure.
            <br /><br />
            After 2-1/2 days the pressure was released and the casing vented for one hour. A 7 day chart was placed on the casing to monitor the 
            pressure increase. Over the course of 37 days the casing pressure slowly built back up to 1550 psi. This corresponds to a flowrate of 
            45 SCF/day. This is a significant decrease (99.5%) as compared to the original buildup of 1550 psi over 24 hours (a calculated flowrate 
            of 7650 SCF/day).
            <br /><br />
            In November 2002 a technician was mobilized to perform a second sealant application. The annulus pressure was again bled to zero through 
            a 0.120 choke nipple and the data carefully recorded. Analysis of the data (See Table 3) indicated a total bleed of 1559 SCF, which 
            corresponds to a buildup rate of 42 SCF/Day. This compares well with the earlier calculated value of 45 SCF/day.
            <br /><br />
            Additional sealant was then injected into the annulus and allowed to cure. The pressure was bled off and monitored. After 69 days, 
            the pressure had slowly built up to a total of 825 psi and appeared to be stabilizing. This buildup rate was significantly lower than 
            the previous buildup rate of 1550 psi in 37 days. The calculated inflow based on this buildup is 160 SCF, for a corresponding gas 
            inflow rate of 2.3 SCF/day. Relative to the initial inflow rate of 7648 SCF/day, this is a 99.9% reduction.
            <br /><br />
            <b>Conclusion:</b><br />
            The procedures developed and implemented by Seal-Tite® International have effectively sealed the microannulus channel in the subject wellbore.
            <br /><br />
        </p>
    </div>

    <div class="tab-pane fade in" id="Pipelines">
        <p>
            <b>Pipeline Connector Leak</b><br />
            An offshore 6,800 psi working pressure bulk oil pipeline sustained a leak 300 feet from the platform near the Load Limiting Connector 
            (LLC). Observations by divers and video cameras indicated leakage past the seals between the inner and outer barrels of the LLC. The 
            conventional alternative was a risky and expensive clamp procedure in 300 feet of water, so Seal-Tite® was employed to prepare a sealant 
            and repair procedure.
            <br /><br />
            After the pipeline was flushed and filled with saltwater, a train consisting of Seal-Tite® sealant between two foam pigs was launched 
            from the platform and down the pipeline until the front edge of the sealant had reached the leak site. The pipeline was shut-in and 
            pressure cycled between 200 and 1000 psi to push the sealant through the leak site and polymerize the sealant. Pressure testing of the 
            pipeline indicated that the leak rate had been decreased, but not eliminated. A second sealant operation was performed using the same 
            procedure with an adjusted Seal-Tite® sealant formula. With this second operation, the leak was fully sealed and tested to MMS 
            specifications at a pressure of 1000 psi.
        </p>
    </div>

     <div class="tab-pane fade in" id="SCSSV">
        <p>
            <b>SCSSV Control Line and Wellhead Seal Leaks</b><br />
            In SPE paper 64400, Esso Australia described the use of Seal-Tite's sealant technology to cure control line and hanger failures. 
            Seal-Tite® cured three out of four control lines failures and three out of four hanger failures.
            <br /><br />
            According to Esso, these successful sealant operations resulted in $10 million worth of cost savings and increased production by 
            more than 5,000 barrels per day.
            <br /><br />
            <b>Downhole Safety Valve Leak</b><br />
            Over a number of months, a Gulf of Mexico operator had spent in excess of $100K using different methods of maintaining the SCSSV on 
            a well producing more than 60,000 Mcf per day. During this period, the SCSSV had shut-in a number of times, resulting in more than 
            $600K in lost production. After learning about Seal-Tite®, the operator contracted with the company to cure the leaking SCSSV. Within 
            two days of the initial call, Seal-Tite® cured the leak and the well returned to continuous production.
            <br /><br />
            <b>Downhole Safety Valve Leak</b><br />
            Seal-Tite® performed a North Sea operation to correct a leak in a damaged SCSSSV using Seal-Tite® pressure-activated sealants. The most 
            significant aspect of the report is that post-repair production was increased from 200,000 m3/d to 340,000 m3/d by eliminating the need 
            for the restrictive NTS (Nam Tubing Safety) valve - a 68 percent increase in production for a fraction of the cost of a rig workover.
            <br /><br />
        </p>
    </div>

    <div class="tab-pane fade in" id="Subsea">
        <p>

            <b>Subsea Tubing Leak Repair</b><br /><br />
            <a href="../../Content/Docs/Deepwater_Intervention_Techniques_for_Maintaining_Integrity_in_Subsea_Wells.pdf" target="_blank"><font color="black"><b>Read an excerpt from the Technical Paper</b></font></a>
            <br /><br />
            A subsea gas production well flowing to a Tension Leg Platform in 3500 feet water depth in the Gulf of Mexico failed to pass the MMS integrity test executed on the production annulus in February of 2003. A Departure package was submitted to MMS and approval received to continue producing the well pending corrective action by July 2004.
            <br /><br />
            Operator contacted Seal-Tite® and a plan was developed to prepare, test and execute the leak repair operation. Custom blended sealants were prepared and a mock-up test with operator’s actual subsea equipment was performed in Seal-Tite’s shop. The corrective action plan was presented by operator and Seal-Tite® to the MMS, and the sealant repair operation was performed from the Tension Leg Platform in January, 2004. Sealant was pumped down a methanol injection line in the 7900 feet long subsea umbilical and routed into the production annulus of the well. The sealant (designed to fall through methanol and float on the packer fluid in the well) settled across the leak site in the tubing string. With flowing tubing pressure at 742 psi, annulus pressures of 2500 psi, 3000 psi, 3500 psi and 4000 psi were applied to cure the leak. The annulus was tested and held stable at 4000 psi for 24 hours. The excess sealant in the methanol injection line was flushed into the flow line and the well returned to normal operations.
            <br /><br />
            The tubing leak was repaired and MMS integrity test passed without having to stop production from the well. No need for operator to resort to plan B (replacement of the tubing string), which provided a operator estimated cost savings of 7 to 12 million U.S. Dollars.
            <br /><br />

            <center>
            <div class="container-video">
                <b>Subsea Wellhead Leak Repair</b>
                    <p><iframe width="425" height="349" src="http://www.youtube.com/embed/jKUq8IvKa1I?hl=en&amp;fs=1" frameborder="0" allowfullscreen=""></iframe></p>
            </div>
            </center>

            <br /><br />
            A subsea well in 1500’ water depth was experiencing a hydraulic leak to the sea in the 1/2” NPT fitting for the SCSSV at the entrance to the tubing spool on the tree. A dummy pod was connected to the tree by ROV.  Seal-Tite® sealant was pumped from the ROV’s belly tank via hot stab into the dummy pod to the leak site. The leak was sealed successfully to 10,000 psi.
            <br /><br />
            <b>Subsea Control Valve Testing</b><br />
            A simulated leak was created in a Cameron sub-sea control valve by crimping the metal-to-metal seal. The severity of the leak was verified by pumping nitrogen through the damaged valve while the valve was suspended in a vat of water. Once the leak had been verified, the Seal-Tite® pressure activated sealant was injected. A seal was established quickly during the polymerization process, and allowed to cure for a brief time before raising the valve to the full operational pressure of 5000 psi. To show the strength of the seal, the pressure on the valve was increased to 7000 psi. As a final test, the valve was cycled to verify that the full operation capabilities of the valve were maintained. The engineers were able to cycle the valve with no loss of hydraulic fluid; thus, proving that the leak was cured and the valve was fully operational.
            <br /><br />
            <b>Subsea SCSSV Leak</b><br />
            A subsea well, capable of producing 7,000 BOPD and 15MMcf/day, shut-in due to a leak in a 15,000 psi SCSSV. A Seal-Tite® technician was called to the platform and within four hours of performing diagnostics, the SCSSV leak was sealed and the hydraulic system was holding 15,000 psi. Revenue in excess of $250K was brought back on line.
            <br /><br />
            <b>Subsea SCSSV and Stab Seal Leaks</b><br />
            A North Sea operator was experiencing multiple leaks at a depth of 155 meters from (1) the SCSSV control line to the void cavity via the tree/tubing hanger stab seals, and (2) from the cavity to the annulus via the 2" stab seals. The control line feeding the well was a "spur" off of a central manifold, so it was not prudent to inject sealant into the entire SCSSV system. In addition, there was no hot-stab placement on the junction plate to facilitate placement of the sealant. Divers constructed a manifold assembly and work umbilical. To successfully seal both leaks, a Seal-Tite® engineer injected one sealant blend down the control line and a different blend into the cavity.
            <br /><br />
            Sealant placement operations were performed by manipulating the manifold valves. The operation was completed successfully and the leaks were cured.
            <br /><br />
            <b>Subsea Completion Leaks</b><br />
            Gas was observed bubbling from a sub-sea location in 1,200 ft. of water. Video captured from an ROV showed gas bubbles coming from the sub-sea completion assembly. Diagnostics performed by a Seal-Tite® technician indicated a tubing hanger leak. Using a temporary umbilical to deliver Seal-Tite's pressure-activated sealant to the hanger void area, the sealant was injected through the leaking hanger seals. As the sealant polymerized within the leak site, the bubbling subsided and then, stopped. The leak was sealed and pressure tested to 3000 psi.
            <br /><br />
            <b>Subsea Wellhead Leaks</b><br />
            A large gas flow was escaping from a sub-sea wellhead in South America. A temporary umbilical was connected to the void area of the suspected source of the gas. Seal-Tite® was pumped and the leak cured to 3000 psi.
            <br /><br />

            <center>
            <div class="container-video">
                <b>Subsea Actuator Valve Leaks</b>
                    <p><iframe allowfullscreen="" frameborder="0" height="349" src="http://www.youtube.com/embed/WZbLrZFEPzw?hl=en&amp;fs=1" width="425"></iframe></p>
            </div>
            </center>
            <br /><br />
            The seals in the actuators for both the wing and master valve on a Brazilian well were leaking large amounts of gas at a depth of 110 meters. For each actuator sealant operation, Seal-Tite® sealant was pumped down a temporary umbilical to the grease fitting of the actuator. The leaks were sealed and the actuators cycled, verifying that the dynamic seals of the actuators could hold pressure during cycling.
            <br /><br />
            <b>Subsea Actuator Valve Leaks</b><br />
            A well in South America was experiencing multiple gas leaks to the sea from the tree cap and two actuators at a depth of 275 meters. Seal-Tite® technicians sealed all leaks using a temporary work umbilical deployed from a dive support vessel (DSV).
            <br /><br />
            <b>Subsea Crossover Valve Leak</b><br />
            Norsk Hydro was experiencing a leak in a crossover valve on a subsea well in 300 meters of water. The leak was causing communication from the production flow line back into the annulus vent line system. Using an ROV, a temporary umbilical was deployed to the subsea wellhead and hot stabbed into the annulus vent valve. The cross-over valve was opened, and the Seal-Tite® sealant was displaced past the cross-over valve and into the production flow line. After closing the cross-over valve, the sealant was pushed through the leak site by pressurizing up on the production flow line. The seal was rapidly established, and later tested to 6500 psi.
            <br /><br />
            <b>VX Cavity Leaks</b><br />
            A North Sea operator was experiencing multiple leaks from the production tubing to production annulus through the VX cavity stab seals and from the VX cavity to the sea through the tree gasket release. The equipment was located at a depth of 400 meters. The leak was repaired by installing a temporary work umbilical (500 meters) into the hot stab for the VXT port. Seal-Tite® sealant was injected into the cavity and multiple leak sites were sealed simultaneously.
            <br /><br />
            <b>Subsea Flowline Hub Leaks</b>
            A flow line hub for a Brazilian well was experiencing a leak of 2.3 liters per minute. Seal-Tite® sealant was delivered by umbilical to the flow line hub. The leak was cured and pressure cycled between 0 psi and 3000 psi.
            <br /><br />
        </p>
    </div>

    <div class="tab-pane fade in" id="Umbilicals">
        <p>
            <b>Umbilical Testing</b><br />
            A South American company has conducted rigorous testing of the capabilities of the Seal-Tite® sealant process in curing leaks in 
            umbilical lines and the SCSSV mechanisms. Simulated leaks were created in the fittings, connections and hoses of umbilical systems 
            and seals in SCSSVs were damaged or removed to create severe leaks. Seal-Tite® cured all leaks except where the line was actually 
            cut deeply through the control line. The flexible seals were able to hold at the rated equipment pressure of 5000 psi.
            <br /><br />
            <b>Umbilical Line Leaks</b><br />
            Six separate umbilical lines in subsea well were leaking at rates ranging from 1.1 to 2.1 liters per minute. All leaks were cured 
            and the umbilical lines returned to service at the normal operating pressures.
            <br /><br />
            <b>Subsea SCSSV System Leak</b><br />
            A connection in the SCSSV system for a Brazilian well was experiencing a leak. Seal-Tite® sealant was delivered by ROV to a hot-stab 
            location and into the SCSSV system. The leak was cured, the SCSSV was cycled opened and closed and system pressure set at 4900 psi.
            <br /><br />
        </p>
    </div>

    <div class="tab-pane fade in" id="Wellhead">
        <p>
            <b>Chevron</b><br />
            When a Chevron well was placed on gas lift, leaks were discovered between the outer annulus and conductor. These leaks resulted in an inability to safely gas lift the well, resulting in reduced production. Additionally, Chevron was concerned about the potential safety and environmental risks of the leaks.
            <br /><br />
            A Seal-Tite® engineer was deployed to the platform and, with no well intervention, was able to cure the leaks. All Seal-Tite® operations were conducted through test ports in the wellhead. The well was returned to gas lift, production re-established and pressure on the outer annulus and conductor was eliminated. Chevron increased production, reduced gas loss, eliminated potential operational risks and increased production to 350 Bbl per day.
            <br /><br />
            Without Seal-Tite®, a major rig operation would have been required at a cost in excess of $2.5 million, in addition to the risk of damage to the reservoir and loss of production because of killing the well.
            <br /><br />
            A testimonial letter from Chevron is available for this operation.
            <br /><br />
            <b>Arco Alaska</b><br />
            Seal-Tite® performed eight pack-off sealant jobs on six wells for Arco Alaska, two of which had dual pack-off leaks. In selecting the wells to be repaired, Arco chose a broad spectrum of leak rates, from minor to severe. Although Arco expected that Seal-Tite® would only be able to seal approximately one-half of the leaks, Seal-Tite® cured all eight problems.
            <br /><br />
            <b>Australia</b><br />
            In Australia, the operator was unable to gas lift a number of wells due to wellhead leaks that prevented pressurization of the casing. Seal-Tite® has performed successful sealant operations on three of the leaking wellheads. By curing the wellhead leaks, the operator has been able to gas lift the wells and increase production by in excess of 3,000 barrels per day.
            <br /><br />
        </p>
    </div>

    <div class="tab-pane fade in" id="Other">
        <p>
            <b>Grouted Clamp Platform Repair</b><br />
            A platform inspection in the Gulf of Mexico indicated that the 20” OD framing cross members between the platform legs 38’ below sea level were in need of repair due to weakening from corrosion. The solution was to install 10’ long x 25” ID clam shell designed clamps around the weak sections of the pipes and then fill the space between the clamps and the pipe with a high strength grout. The grouting material selected for the application was Seal-Tite® Micro-Seal (two part resin) due to its superior compressive strength (14,000 psi versus 7,000 psi minimum requirement).
            <br /><br />
            After installation of the clamps, the Seal-Tite® grout (supplied in 55 gallon drums) and pumping/mixing equipment were loaded on a dive support vessel and mobilized to the platform where each of the seven 100 gallon clamps were pumped full of grout. After 12 hours, when the compressive strength of the grout was approximately 7,000 psi, the clamps were fully tighten around the pipe. The Seal-Tite® grout fully hardened to its 14,000 psi compressive strength in approximately 24 hours, resulting in a successful new application of Seal-Tite® Micro-Seal as a grouting compound.
            <br /><br />
            <b>Potential Blowout</b><br />
            In the Gulf of Mexico, while running a screen into the well, the operator lost control of the well. Sand flowing around the screen was cutting through the 7-inch casing. The well had leaks in the casing hangers that prevented the operator from pressure testing the casing to determine the extent of the damage to the casing. Seal-Tite® cured the leaks in the casing hangers and reestablished the pressure barrier necessary to verify that there was communication through the casing.
            <br /><br />
            <b>Riser Latching Mechanism</b><br />
            Seal-Tite® performed a sealant operation on the Burlington Millom Well 113/27-Q1 in the Irish Sea. The customer on the job was Global Marine for Global Marine, vessel Ensco 72. A hydraulic leak in the Global Marine riser latching mechanism prevented the release of the riser from the Burlington sub-sea template. Curing the hydraulic leak using
            Seal-Tite's pressure-activated sealant rather than employing conventional means to mechanically release the incapacitated latching mechanism saved more than $800K. Additionally, risks to personnel and equipment and delays in rig demobilization were avoided.
            <br /><br />
            <b>Well Control Problems</b><br />
            A Gulf of Mexico well was experiencing leaks through the "D" seals, tubing cup seals and SCSSV control line. The operator was unable to replace the wellhead due to casing pressure in the well caused by communication from the tubing to annulus. A Seal-Tite® engineer was deployed to the platform to cure the leaks in the D seals and SCSSV control line by isolating the annulus pressure. After a new wellhead was installed, the Seal-Tite® engineer used custom-blended sealant to cure the leaks in the tubing cup seals. All Seal-Tite® operations were conducted through the test ports and SCSSV control line in the wellhead without a well intervention and the seals tested to 5000 psi. Seal-Tite® provided a safe and efficient operation without the need for a rig operation.
            <br /><br />
            <b>Hydraulic Controlled Master Valve Bonnet Seal Leak</b><br />
            The Bonnet seal gasket in a North Sea HCM Valve was leaking at a rate of 1.5 liters per minute. This wellhead leak caused a potentially dangerous well control situation. Injecting the sealant through the bonnet-seal injection port cured the leak. Curing the wellhead valve leak allowed the operator to close the SCSSV, set a tubing plug and replace the tree without losing control of the well.
            <br /><br />
        </p>
    </div>

</div>
</div>