@{
    ViewBag.Title = "FAQ";
}

<div class="container-white shadow">
<a name="0" id="0"></a>

<div class="container-hs">
<h2 style="margin-left:3%;">FAQs</h2>
</div>

<p style="padding:10px;">
   <center>
       <table style="width:80%;">
        <tr>
            <td>
                <ol>
                    <b>
                    <li><a href="#1"><font color="blue">What types of leaks can be cured by Seal-Tite® sealants?</font></a></li>
                    <li><a href="#2"><font color="blue">How many jobs like mine has Seal-Tite® performed?</font></a></li>
                    <li><a href="#3"><font color="blue">Can I buy Seal-Tite® sealant?</font></a></li>
                    <li><a href="#4"><font color="blue">How do Seal-Tite® sealants work?</font></a></li>
                    <li><a href="#5"><font color="blue">How does the Seal-Tite® order process work?</font></a></li>
                    <li><a href="#6"><font color="blue">Does Seal-Tite® supply the necessary sealant pumping equipment?</font></a></li>
                    <li><a href="#7"><font color="blue">Is on-site leak rate diagnostics required prior to pumping sealant?</font></a></li>
                    <li><a href="#8"><font color="blue">Can Seal-Tite® sealants be modified on location?</font></a></li>
                    <li><a href="#9"><font color="blue">Why doesn’t Seal-Tite® supply one sealant with high sealant value for all applications.</font></a></li>
                    <li><a href="#10"><font color="blue">For wireline retrievable SCSSV vee-packing leak repair applications, will the Seal-Tite® sealant prevent me from pulling the valve later?</font></a></li>
                    <li><a href="#11"><font color="blue">Will Seal-Tite® sealant affect the operation of the SCSSV?</font></a></li>
                    <li><a href="#12"><font color="blue">Can Seal-Tite® seal leaks which could not be sealed by other sealants?</font></a></li>
                    <li><a href="#13"><font color="blue">How long will the Seal-Tite® seal last?</font></a></li>
                    </b>
                </ol>
            </td>
        </tr>
      </table>
  </center>

    <strong>
    <a name="1" id="1"></a>
        1.) What types of leaks can be cured by Seal-Tite® sealants?
    </strong>
    <p>
        The first Seal-Tite® sealant was used to cure SCSSV control line leaks. Since then the sealant product line has expanded to allow for curing leaks in oil-based, water-based and gas environments. We have sealants that will even work for high pressure leak repair jobs. The most common types of leaks cured by Seal-Tite® are the following:
        <br /><br />
        a) SCSSV's (safety valves) and control lines<br />
        b) Wellhead tubing hangers and casing hangers<br />
        c) Tubing and casing strings<br />
        d) Umbilicals and subsea tree components<br />
        e) Microannulus cement<br />
        f) Pipe lines and ball valves<br />
        g) Storage caverns<br />
        <br /><br />
        Seal-Tite® is continuously developing new leak sealants for new applications. As has always been the case at Seal-Tite®, each batch of sealant is formulated and blended for its intended application.<br />

        <a href="#0"><font color="blue">Return To Top</font></a>
        <br />
    </p>

    <strong>
    <a name="2" id="2"></a>
       2.) How many jobs like mine has Seal-Tite® performed? 
    </strong>
    <p>
    Please refer to Job Histories & Success Rates.
    <br />
    <a href="#0"><font color="blue">Return To Top</font></a>
        <br />
    </p>

    <strong>
    <a name="3" id="3"></a>
        3.) Can I buy Seal-Tite® sealant?
    </strong>
    <p>
        No, Seal-Tite® is an oilfield leak repair service company. A trained technician is required on each job to ensure the sealant is delivered to the leak site and manipulated according to Seal-Tite® procedures to cure the leak. Any sealant not used remains the property of Seal-Tite®.
        <br />
        <a href="#0"><font color="blue">Return To Top</font></a>
        <br />
    </p>

    <strong>
    <a name="4" id="4"></a>
        4.) How do Seal-Tite® sealants work?
    </strong>
    <p>
        Basically, the liquid sealant molecules link together to form a flexible solid when forced into a suitable flow restriction (leak site). The process is called polymerization. The means to control the process are proprietary. Each sealant is custom blended for the intended application. The excess sealant in the system is designed to remain liquid.
        <br />
        <a href="#0"><font color="blue">Return To Top</font></a>
        <br />
    </p>

    <strong>
    <a name="5" id="5"></a>
        5.) How does the Seal-Tite® order process work? 
    </strong>   
    <p>
        The steps to follow to order Seal-Tite® leak repair services are as follows:
        <br /><br />
      <ol>

        <li>You call or send us an e-mail or fax describing the problem.</li>
        <li>We send you a Trouble Shooting Data Sheet to be filled out to supply the basic information needed to evaluate the potential for Seal-Tite® leak repair.</li>
        <li>We contact you to discuss the recommended forward plan.</li>
        <li>We supply you with a quote and procedure for the work.</li>
        <li>You send us your service order or formal agreement to prepare for the operation.</li>
        <li>You advise when to mobilize equipment and personnel for the job.</li>
        <br />
      </ol>
        The keys to success are obtaining the necessary information to supply the appropriate sealant and develop the means to get the sealant to the leak site. This will ensure you receive the proper sealant(s) for your necessary repairs whether it be for flowline, casing hanger, control line, microannulus, packer, production tubing, salt dome storage cavern, subsea connection, safety valve, sustained casing pressure, tubing hanger, umbilical or wellhead leaks.
        <br /><br />
        <a href="#0"><font color="blue">Return To Top</font></a>
        <br />
    </p>

    <strong>
    <a name="6" id="6"></a>
        6.) Does Seal-Tite® supply the necessary sealant pumping equipment?
    </strong>
    <p>
        A Seal-Tite® supplied portable (flyable) pneumatic high pressure low volume (Haskel type) sealant pump is capable of performing most safety valve  SCSSV, control line, wellhead, tubing hanger, casing hanger, microannulus, sustained casing pressure, subsea and umbilical leak repair operations. For large volume jobs, such as storage cavern leaks, tubing leaks and casing leak repairs we stock and maintain just about everything except triplex fluid pumps and accessories. The equipment requirements for each job are discussed and agreed upon with the operator before mobilizing for the repair job.
        <br />
        <a href="#0"><font color="blue">Return To Top</font></a>
        <br />
    </p>

    <strong>
    <a name="7" id="7"></a>
        7.) Is on-site leak rate diagnostics required prior to pumping sealant?
    </strong>
    <p>
        On-site diagnostics by Seal-Tite® personnel is required to confirm the well information previously supplied and make sure the sealant used is appropriate for the application.
        <br /> 
        <a href="#0"><font color="blue">Return To Top</font></a>
        <br />
    </p>

    <strong>
    <a name="8" id="8"></a>
        8.) Can Seal-Tite® sealants be modified on location?
    </strong>
    <p>
        For large volume, storage cavern, tubing leaks and casing leaks, the sealants can be supplied in concentrated form and blended on location to the strength required for the application. For small volume subsea connection, wellhead, umbilical, tubing hanger, safety valve, microannulus, control line and casing hanger leak repairs sealants of varying strengths in ready to use form are supplied which may only be slightly modified on location to suit the application.
        <br /> 
        <a href="#0"><font color="blue">Return To Top</font></a>
        <br />
    </p>

    <strong>
    <a name="9" id="9"></a>
        9.) Why doesn’t Seal-Tite® supply one sealant with high sealant value for all applications.
    </strong>
    <p>
       The intent is to penetrate the leak site with sealant before using differential pressure to activate the sealant in the leak site. The objective is to build a seal across the entire leak site rather than simply forming a seal at the entrance to the leak site.
       <br /> 
       <a href="#0"><font color="blue">Return To Top</font></a>
        <br />
    </p>

    <strong>
    <a name="10" id="10"></a>
        10.) For wireline retrievable SCSSV vee-packing leak repair applications, will the Seal-Tite® sealant prevent me from pulling the valve later?
    </strong>
    <p>
        No, the sealant remains flexible and will not affect the jar action necessary to pull the valve.
        <br />
        <a href="#0"><font color="blue">Return To Top</font></a>
        <br />
    </p>

    <strong>
    <a name="11" id="11"></a>
        11.) Will Seal-Tite® sealant affect the operation of the SCSSV?
    </strong>
    <p>
        In addition to sealing the leak site, the sealant actually lubricates the moving parts to allow the valve to operate more smoothly.
        <br />
        <a href="#0"><font color="blue">Return To Top</font></a>
        <br />
    </p>

    <strong>
    <a name="12" id="12"></a>
       12.) Can Seal-Tite® seal leaks which could not be sealed by other sealants? 
    </strong>
    <p>
       Yes. The first step is to inject a Seal-Tite® product called Valve Flush to flush the other sealant from the hydraulic system. Then fill the system with clean control fluid and measure the leak rate. Then pump the appropriate Seal-Tite® sealant for the application.
       <br /> 
       <a href="#0"><font color="blue">Return To Top</font></a>
        <br />
    </p>

    <strong>
    <a name="13" id="13"></a>
        13.) How long will the Seal-Tite® seal last?
    </strong>
    <p>
        Seal longevity is a function of leak severity, leak site geometry, and differential pressure. After forming a seal, the goal is to test the seal to at least 1000 psi above the normal sustained operating pressure for as long as feasible to provide reassurance that the seal should last forever at lower sustained pressures. While many seals last forever, other seals last several years, and some only last a year or two. The most prominent cause of Seal-Tite® seal failure is movement of the leak site in conjunction with high pressure and the lack of excess liquid sealant in the system at the leak site.
        <br />
        <a href="#0"><font color="blue">Return To Top</font></a>
        <br />
    </p>

</p>

</div>