@{
    ViewBag.Title = "Home Page";
}

        <br />
        <br />
        <center><a href="../Home/Index"><img src="../../Content/images/logo2.png" class="img-rounded" /></a> </center>
        <br />
        <br />

                <p> <center>
                    Seal-Tite International<br />
                    500 Deer Cross Drive<br />
                    Madisonville, LA 70447 USA<br />      
                    Phone: 1-985-875-1292<br />
                    Fax: 1-985-875-0687
                    </center>
                </p>
        <br /><br />