@{
    ViewBag.Title = "Legal";
}

<div class="container-white shadow">

<div class="container-hs">
<h2 style="margin-left:3%;">Legal</h2>
</div>

<p style="padding:10px;">

    <b>WEBSITE TERMS OF USE</b>
    <br />
    The following TERMS OF USE provision relates to your utilization of our website (hereinafter “Website”), including your access to same.
    <br /><br />
    By accessing and utilizing the present Website, you have agreed to be bound by these TERMS OF USE, which comprises a legally binding agreement between yourself and Seal-Tite International (hereinafter Seal-Tite).
    <br /><br />
    Any and all material on the Website, including all information presented therein, is protected by U.S. Law, including the laws relating to copyright pursuant to the United States Copyright Act, as well as the laws of other countries and international treaty, including the Berne Convention.
    <br /><br />
    You are permitted to download or print one copy of the Website for personal and non-commercial use, or in connection with your purchase of Seal-Tite product(s) or service(s) only; however, in any such copying, you must leave all copyright and trademark notices unchanged.  Any other copying, alteration, reproduction, storage in a retrieval system or transmission of this Website or any part thereof is expressly prohibited, unless prior authorization is obtained in writing from Seal-Tite.
    <br /><br />
    These Terms of Use may be amended at any time at the discretion of Seal-Tite, and any continued use of Website is construed as your acceptance of the amended Terms of Use.
    <br /><br />
    <b>TRADEMARK</b>
    <br />
    All trademarks, service marks, and trade names on Website are the property of their respective owners, and are protected by relevant U.S. law as well as other countries laws. Any unauthorized use of these trade marks, including duplication, modification, copying, distribution, transmission, repudiation or display of these trade marks, save for non-commercial copying of this website for personal use or as otherwise indicated herein, is expressly prohibited.
    <br /><br />
    <b>THIRD PARTY WEBSITES</b>
    <br />
    Any material from external links to third party websites are outside of Seal-Tite’s control, and Seal-Tite takes no responsibility for the content or representations of same, and no endorsement or suggestion of relationship of same is expressed or implied by Seal-Tite, unless otherewise indicated.  You are prohibited from establishing a link on any network including the Internet and World Wide Web to the Website without prior written permission from Seal-Tite.
    <br /><br />
    <b>SPAM</b>
    <br />
    Publication of contact information, including telephone numbers, addresses, or email addresses on Website does not comprise consent to receive spam or solicitations from third parties outside of the business of Seal-Tite.
    <br /><br />
    <b>WARRANTY</b>
    <br />
    The Website is provided “as is”, and Seal-Tite makes no warranties or representations, express or implied, as to its suitability of use, except as otherwise indicated herein.  Seal-Tite accepts no responsibility to you or anyone else for any damages of any kind due to access to Website, including (but not limited to) any relating to direct or consequential damages or  loss and/or losses which result or might result from failure of security, data loss, including confidential data and/or disclosure of same, or computer virus. Your access of Website comprises your agreement to indemnify and hold Seal-Tite harmless for any loss or liabilities which may arise due to your access. Any data loss or damages from access, downloading, or otherwise using data, files, material, or information from this website is your full responsibility and not Seal-Tite’s.  Your use of the data from this website is at your own risk.
    <br /><br />
    <b>SEPARATE ENTITIES</b>
    <br />
    Nothing in this material or the Website is intended to override the separateness of the various corporate entities mentioned therein.
    <br /><br />
    <b>SECURITY</b>
    <br />
    Any violation or attempt to violate the security of the Website may result in criminal and civil liabilities imposed against the perpetrator, and any allegations of such violations will be investigated by the appropriate State, Federal, or International law enforcement. We will cooperate with law enforcement in any investigations of criminal violations do to unauthorized usage associated with the Website.
    <br /><br />
    <b>CHOICE OF LAW</b>
    <br />
    This Terms of Use is governed by and interpreted under the laws of the State of Louisiana, United States of America, and you agree to submit to the non-exclusive jurisdiction of the appropriate district court for the Parish of St. Tammany, Louisiana, U.S.
    <br /><br />
    <b>CONTACT</b>
    <br />
    You may contact us for your questions or concerns regarding our Terms of Use at:
    <br /><br />
    <center>
        Seal-Tite International<br />
        500 Deer Cross Drive<br />
        Madisonville, LA 70447 USA<br />      
        Phone: 1-985-875-1292<br />
        Fax: 1-985-875-0687
        <br /><br />
        <a href="../../Content/Docs/8.17.2011STIPrivacyPolicy.rtf" target="_blank"><font color="blue">Seal-Tite International Privacy Policy</font></a>
    </center> 
</p>

</div>