@{
    ViewBag.Title = "Locations";
}

<div class="container-white shadow">

<div class="container-hs">
<h2 style="margin-left:3%;">Locations</h2>
</div>

<p style="padding:10px;">

    Seal-Tite® is based in Louisiana, USA; however we have locations all over the world to better assist you. Seal-Tite’s repair specialists can assist you with any type of leak, including high pressure leak repairs. We offer assistance for even the most complex situation including subsea connection, casing & tubing hanger, control line, flowline, microannulus, packer, production tubing, safety valve, salt dome storage cavern, sustained casing pressure, umbilical and wellhead leaks. Contact our leak repair specialists at Seal-Tite® today for further information or questions regarding our leak repair products for any type of leak, including high pressure leak repairs.
    <br /><br />
    
    <center>
    <table cellpadding="5px" style=" padding:10px;">
        <tr>
            <td>
                <b>Seal-Tite® International ( Head Office )</b><br />
                500 Deer Cross Dr.<br />
                Madisonville, LA 70447<br />
                U.S.A.<br />
                <a href="mailto:info@seal-tite.com"><font color="blue">Barry Ellis</font></a><br />
                Tel: (985) 875-1292<br />
                Fax: (985) 875-0687
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
                <b>Seal-Tite® International (Sales Office)</b><br />
                Houston, Texas, U.S.A.<br />
                Tel: 1-888-674-3385<br />
                <a href="mailto:vernon.changard@seal-tite.com"><font color="blue">Vernon Chagnard</font></a> <br />
                Mob: 504-491-0800<br />
                <a href="mailto:bob.taylor@seal-tite.com"><font color="blue">Bob Taylor</font></a><br />
                Mob: 504-390-3656
            </td>
            <td>
                <b>Seal-Tite® Indonesia</b><br />
                <a href="aisaserv@indo.net.id"><font color="blue">Jack Calcote</font></a><br />
                Tel: 6227-78833088, 6221-78841360<br />
                Mob: 62-818191932<br />
                <br />
                <b>Seal-Tite® Italy</b><br />
                <a href="mailto:beppe@magadrill.com"><font color="blue">Beppe Roderi</font></a><br />
                Tel: 39-0373-615000<br />
                Mob: 39-3482-714287
            </td>
        </tr>
        <tr>
            <td>
                <b>Seal-Tite® Argentina</b><br />
                <a href="aisaserv@indo.net.id"><font color="blue">Gabino Lockwood</font></a><br />
                Tel: 54-299-4413-782 / 785 / 855<br />
                Mob: 54-9299-5-800459<br />
                <br />
                <b>Seal-Tite® Australia</b><br />
                <a href="mark.liesegang@acc-corporate.com"><font color="blue">Mark Liesegang</font></a><br />
                Tel: 08-9470-5070, 61-8-94705070<br />
                Mob: 61-418932625
            </td>
            <td>
                <b>Seal-Tite® Malaysia & Asia Pacific</b><br />
                <a href="mailto:bill.hewitt@seal-tite.com"><font color="blue">Fayza Hasan</font></a><br />
                36th Floor Maxis Tower<br />
                KLCC 50088<br />
                Kuala Lumpur<br />
                Tel: 603-2615 0026<br />
                Fax 603-2615 0029<br />
                Mob: 601-2305-3432, 601-2324-2364
            </td>
        </tr>
        <tr>
            <td>
                <b>Seal-Tite® Brazil</b><br />
                <a href="mailto:Joaquim.Videira@ats-lidrasa.com.br"><font color="blue">Joaquim Videira</font></a><br />
                Tel: 55-22-2764-8290<br />
                Mob: 55-21-8138-1539<br />
                <br />
                <b>Seal-Tite® Brunei</b><br />
                <a href="mailto:zax.ddops@amrtur.com"><font color="blue">Zax Mahmud</font></a><br />
                Tel: 673-322-2299 Ext: 818<br />
                Mob: 673-883-3743
            </td>
            <td>
                <b>Seal-Tite® Mexico</b><br />
                <a href="mailto:bill.hewitt@seal-tite.com"><font color="blue">Bill Hewitt</font></a><br />
                Tel: 52-938-118-2907<br />
                Mob: 52-1938-150-1126<br />
                <br />
                <b>Seal-Tite® Middle East</b><br />
                <a href="mailto:kenny.mcallister@seal-tite.com"><font color="blue">Kenny McAllister</font></a><br />
                Tel: 44 1224 773838<br />
                Mob: 44 (0) 7947 818636
            </td>
        </tr>
        <tr>
            <td>
                <b>Seal-Tite® Canada</b><br />
                <a href="mailto:kevindm@clearwave.ca"><font color="blue">Kevin Montpetit</font></a><br />
                Tel: 780-348-5278<br />
                Mob: 1-780-349-1040<br />
                <br />
                <b>Seal-Tite® China</b><br />
                <a href="mailto:donshew@ewesl.com"><font color="blue">Don Shewchenko</font></a><br />
                Tel: 86-755-2688-5379<br />
                Mob: 86-135-2033-3991
            </td>
            <td>
                <b>Seal-Tite® Nigeria</b><br />
                <a href="mailto:keith.morrison@seal-tite.com"><font color="blue">Keith Morrison</font></a><br />
                Tel: 44-1224-773838<br />
                Mob: 44-0-7834-711833<br />
                <br />
                <b>Seal-Tite® Norway</b><br />
                <a href="mailto:theo.rijper@seal-tite.com"><font color="blue">Theo Rijper</font></a><br />
                Tel: 47-51680810<br />
                Mob: 31-615032448
            </td>
        </tr>
        <tr>
            <td>
                <b>Seal-Tite® Europe</b><br />
                <a href="mailto:theo@seal-tite.com"><font color="blue">Theo Rijper</font></a><br />
                Tel: 31-252531772<br />
                Mob: 31-615032448<br />
                <br />
                <b>Seal-Tite® India</b><br />
                <a href="mailto:opt@norscot.net"><font color="blue">Ola-Peter Tollefsen</font></a><br />
                Tel: 91-22-2660-8780<br />
                Mob: 91-98-2007-8280
            </td>
            <td>
                <b>Seal-Tite® UK</b><br />
                Aberdeen, Scotland<br />
                <a href="mailto:jed.doubenmier@seal-tite.com"><font color="blue">Jed Doubenmier</font></a><br />
                Tel: 44-1224-773838<br />
                Mob: 44-7802-244219<br />
                <br />
                <b>Seal-Tite® Africa</b><br />
                <a href="mailto:keith.morrison@seal-tite.com"><font color="blue">Keith Morrison</font></a><br />
                Tel: 44-1224-773838<br />
                Mob: 44-0-7834-711833
            </td>
        </tr>   
    </table>
    </center>
</p>

</div>