@{
    ViewBag.Title = "MSDS";
}

<div class="container-white shadow">

<div class="container-hs">
<h2 style="margin-left:3%;">Material Safety</h2>
</div>

<p>
    <b>MSDS</b><br />
    In compliance with OSHA regulations, Seal-Tite® provides Material Safety Data Sheets (MSDS) for the regulated elements of our sealants. An MSDS is designed to provide both workers and emergency personnel with the proper procedures for handling or working with a particular substance. Material Data Safety Sheets from Seal-Tite® include information such as physical data, toxicity, health effects, first aid, reactivity, storage, disposal, protective equipment and spill / leak procedures. The Hazard Communications Standard (HCS) specifies the required information that must be on an MSDS. These files are the OSHA required MSDS documents for Seal-Tite® sealants.
    <br /><br />
    <b>Instructions</b><br />
    Click on the appropriate Material Safety Data Sheet (all are in Adobe Portable Document Format) and print out a copy for your reference. If you have any questions or comments regarding the MSDS or a sealant for your particular type of leak repair job such as flowline, packer, production tubing or safety valve leaks, please contact us at (985) 875-1292 or <a href="mailto:info@seal-tite.com"><font color="blue">info@seal-tite.com</font></a>
    <br /><br />
    Material Safety Data Sheets  (PDF Format)
    Updated for 2011
    <br /><br />
    <center>
    <table cellpadding="10px">
        <tr>
            <td>
                <a href="../../Content/Docs/MSDS/angelhair.pdf" target="_blank"><font color="black"><b>Angel Hair</b></font></a><br />
                <a href="../../Content/Docs/MSDS/Angel Hair (GB).pdf" target="_blank"><font color="black"><b>Angel Hair (GB)</b></font></a><br />
                <a href="../../Content/Docs/MSDS/flexplugcuringagent.pdf" target="_blank"><font color="black"><b>Flex Plug (CA)</b></font></a><br />
                <a href="../../Content/Docs/MSDS/flexpluglr.pdf" target="_blank"><font color="black"><b>Flex Plug (LR)</b></font></a><br />
                <a href="../../Content/Docs/MSDS/floseal.pdf" target="_blank"><font color="black"><b>Flo-Seal Sealant</b></font></a><br />
                <a href="../../Content/Docs/MSDS/flosealss.pdf" target="_blank"><font color="black"><b>Flo-Seal Sealant (SS)</b></font></a><br />
                <a href="../../Content/Docs/MSDS/gelseals.pdf" target="_blank"><font color="black"><b>Gel-Seal (S)</b></font></a><br />
                <a href="../../Content/Docs/MSDS/gelsealva.pdf" target="_blank"><font color="black"><b>Gel Seal (VA)</b></font></a><br />
                <a href="../../Content/Docs/MSDS/glyflo.pdf" target="_blank"><font color="black"><b>Gly-Flo Sealant</b></font></a><br />
                <a href="../../Content/Docs/MSDS/maxflo.pdf" target="_blank"><font color="black"><b>Max-Flo Sealant</b></font></a><br />
            </td>
            <td>
                <a href="../../Content/Docs/MSDS/microseala.pdf" target="_blank"><font color="black"><b>Micro-Seal A</b></font></a><br />
                <a href="../../Content/Docs/MSDS/microseala.pdf" target="_blank"><font color="black"><b>Micro-Seal 1300 A</b></font></a><br />
                <a href="../../Content/Docs/MSDS/micrososealb.pdf" target="_blank"><font color="black"><b>Micro-Seal B</b></font></a><br />
                <a href="../../Content/Docs/MSDS/micrososealb.pdf" target="_blank"><font color="black"><b>Micro-Seal 1300 B</b></font></a><br />
                <a href="../../Content/Docs/MSDS/sealbreaker.pdf" target="_blank"><font color="black"><b>Seal Breaker</b></font></a><br />
                <a href="../../Content/Docs/MSDS/turflo.pdf" target="_blank"><font color="black"><b>Tur-Flo Sealant</b></font></a><br />
                <a href="../../Content/Docs/MSDS/turfloss.pdf" target="_blank"><font color="black"><b>Tur-Flo Sealant (SS)</b></font></a><br />
                <a href="../../Content/Docs/MSDS/valveflush.pdf" target="_blank"><font color="black"><b>Valve Flush Sealant</b></font></a><br />
                <a href="../../Content/Docs/MSDS/valveflushgo.pdf" target="_blank"><font color="black"><b>Valve Flush Sealant GO</b></font></a><br />
                <a href="../../Content/Docs/MSDS/wa501.pdf" target="_blank"><font color="black"><b>WA 50:1 Sealant</b></font></a><br />
            </td>
        </tr>
    </table>
    </center>
</p>

</div>