@{
    ViewBag.Title = "safety";
}

<div class="container-white shadow">

<div class="container-hs">
<h2 style="margin-left:3%;">Health, Safety, & Environment</h2>
</div>

<p>
    It is the policy of Seal-Tite® International (STI) to provide a safe and healthy working environment to all of our employees, as well as our clients. The long term success of STI depends on our ability to improve the quality of our products and services while keeping safety a top priority.  Every STI employee is educated, trained, and committed to following Seal-Tite® HSE Policies and Procedures.  Seal-Tite® requires job safety analysis and monthly safety meetings, including reviews with top management participation.
    <br /><br />
    <a href="MSDS" target="_blank"><font color="black"><b>View Material Safety Data Sheets (MSDS)</b></font></a>
    <br /><br />
    <table style="float:right;">
        <tr>
            <td>
            <img src="../../Content/images/safety1.jpg"  style=" height: 200px; width: 300px;" />
            <br />
            </td>
        </tr>
        <tr>
            <td>
            <br />
            <img src="../../Content/images/safety2.jpg"  style=" height: 200px; width: 300px;" />
            </td>
        </tr>
    </table>
    <ul>
        <li>Member Organizations</li>
            <ul>
                <li>National Safety Council</li>
                <li>IS Net World</li>
                <li>PEC – Petroleum Education Council</li>
            </ul>
    </ul>
    <ul>
        <li>Safety Training is Performed by:</li>
            <ul>
                <li>Superior Energy Training Center</li>
                <li>Petroleum Education Council</li>
                <li>Petrofac</li>
                <li>Safety & Training Consultants</li>
            </ul>
    </ul>
    <ul>
        <li>Foreign Certifications</li>
        <ul>
            <li>ISO 9001 Certified (UK)</li>
        </ul>
    </ul>
     <ul>
        <li>Employee Safety Training</li>
        <ul>
            <li>Water Survival</li>
            <li>H.U.E.T.</li>
            <li>Medic First Aid / CPR / BBP</li>
            <li>H2S</li>
            <li>UKOOA Medical Certificates</li>
            <li>Respirator Fit Test</li>
            <li>Pulmonary Function Test</li>
        </ul>
    </ul>
     <ul>
        <li>Awards and Presentations:</li>
        <ul>
            <li>National Safety Council Award of Honor (<a href="../../Content/Docs/National Safety Council 2011 Award.pdf" target="_blank"><font color="black"><b>2011</b></font></a>, <a href="../../Content/Docs/2010.pdf" target="_blank"><font color="black"><b>2010</b></font></a>, <a href="../../Content/Docs/2009.pdf" target="_blank"><font color="black"><b>2009</b></font></a>, <a href="../../Content/Docs/2008.pdf" target="_blank"><font color="black"><b> 2008</b></font></a>, <a href="../../Content/Docs/2007.pdf" target="_blank"><font color="black"><b> 2007</b></font></a>)</li>
        </ul>
    </ul>
    
</p>

</div>