@{
    ViewBag.Title = "SealantDeliveryMethods";
}

<div class="container-white shadow">

<div class="container-hs">
<h2 style="margin-left:3%;">Sealant Delivery Methods</h2>
</div>

<p>
<img src="../../Content/images/Guthrie_Equip-01090-320x.jpg" style="float:right; width:280; height:200; padding:20px;" />
The characteristics of the pressure-activated sealants allow for flexible delivery methods. Since the sealant remains liquid except
in the presence of differential pressure, there is little concern for the time to deliver the sealant to the leak site or the pressure 
and temperature (below 500 °F) of the well. 
</p>

<br />

<h4>Common sealant delivery methods include:</h4>
    
    <ul>
    <li>Pump down control lines </li> 
    <li>Pump down tubing</li>
    <li>Pump down casing</li>
    <li>Spot with wireline dump bailer</li>
    <li>Spot with coiled tubing</li>
    <li>Atomize into gas stream</li>
    <li>Pump down subsea umbilical</li>
    <li>Pump down service umbilical</li>
    <li>Pump with ROV through hot-stab</li>
    <li>Pump from subsea injection cylinder</li>
    </ul>


<p>
<img src="../../Content/images/Skid-Pack2-320x.jpg" style="float:right; width:280; height:200; padding:15px;" /> <br />
The service package for small volume applications such as SCSSV, wellhead, and microannulus cement leaks typically consists
of three plastic Pelican Cases containing an air driven pump, sealant injection cylinder, hoses, fittings, hand tools, and 
sealants for the application; all suitable for transport by helicopter.

The service package for larger volume jobs such as tubing, casing, packer and cavern casing shoe leaks may require sealant
blending tanks and high volume pumps that require transport via truck or boat.

The service package for subsea jobs depends on the application and sealant delivery method. For riser choke and kill line leaks,
five gallon buckets of concentrated sealants can be transported offshore via helicopter and blended in the cementing unit’s 
displacement tanks.
</p>

</div>