@{
    ViewBag.Title = "Overview";
}

<div class="container-white shadow">

@*<ul class="nav nav-list" >
    <li><a href="ServicesOverview">Services Overview</a></li>
    <li><a href="#">Sealant Applications</a></li>
    <li><a href="#">Sealant Delivery Methods</a></li>
</ul>*@
<div class="container-hs">
<h1 style="margin-left:3%;">@ViewBag.Title</h1>
</div>

<article>

    <table cellpadding="5">
        <tr>
            <td>
                <center><img src="../../Images/Sealant-Step-1-100x.jpg" class="img-rounded" /></center>
            </td>
            <td>
                <center><img src="../../Images/Sealant-Step-2-100x.jpg" class="img-rounded" /></center>
            </td>
            <td>
                <center><img src="../../Images/Sealant-Step-3-100x.jpg" class="img-rounded" /></center>
            </td>
            <td>
                <center><img src="../../Images/Sealant-Step-4-100x.jpg" class="img-rounded" /></center>
            </td>
        </tr>
        <tr>
            <td>
                <center>Fluid escaping through
                 leak site.</center>
            </td>
            <td>
                <center>Sealant building 
                at leak site.</center>
            </td>
            <td>
                <center>Sealant bridging 
                across the leak.</center>
            </td>
            <td>
                <center>Leak sealed.</center>
            </td>
        </tr>
    </table>
    <br />

    <p>
        <img src="../../Content/images/FandBs.PNG" style="float:right; padding-left:15px;" />
        Seal-Tite® International is an oilfield service company that provides leak repair services based on a unique 
        pressure activated sealant technology that uses differential pressure across a leak site to cause liquid sealant
        to polymerize into a flexible solid.The sealant reaction is analogous to blood coagulating across a cut. The cut
        is sealed but the arteries continue to flow. As liquid sealant enters the leak site and encounters a pressure
        drop sufficient to start the polymerization process, the liquid molecules link together and build a flexible solid
        seal. The strength of the seal is generally increased in pressure steps until the desired test pressure is reached.
        Once the seal is formed and tested, the remaining liquid sealant may be left in the system or flushed from the 
        system. Our slogan, Engineered Sealing Solutions, is appropriate for the service we provide. Engineers review 
        the application, prescribe the appropriate sealants, prepare the procedures and follow the operations on each job.
        A Seal-Tite Technician is required on location to diagnose and cure leaks following the procedures developed for 
        the application. If after diagnostics we determine that the leak severity is beyond our capabilities, he will not
        attempt to cure the leak. We do not take on jobs unless we are confident we can cure the leak or the customer 
        instructs us to try even though the chance of success is low. Seal-Tite has developed a variety of sealants, both
        oil based and water based, and in many cases can modify the strength of particular sealants on location to suit 
        the application.  Typical service equipment consists of three plastic Pelican Cases enclosing a high pressure low
        volume air driven pump, sealant injection cylinder, hoses, fittings, hand tools, and an assortment of sealants; 
        all suitable for helicopter transport. 
    </p>
    <br />
    <p>
        <center>
            <b>Liquid sealants polymerize into 90 durometer elastomers within the leak site.</b>
            <br />
            <img src="../../Images/flubber.jpg" class="img-rounded" height="600" width="600" />
        </center>
    </p>
</article>
</div>
