@{
    ViewBag.Title = "Success";
}

<div class="container-white shadow">

<div class="container-hs">
<h2 style="margin-left:3%;">Success</h2>
</div>

    <p> 
        Seal-Tite® International is dedicated to providing the best service to our customers and want to provide information on how well our sealants work for various leak repair jobs. You will find a chart below, outlining how successful our products have been for various leaks, including microannulus, subsea connection, casing hanger, control line, flowline, packer, production tubing, safety valve, salt dome storage cavern, sustained casing pressure, umbilical and wellhead leaks. Our sealants even perform well for high pressure leak repairs. Please refer to the chart below for further information regarding our leak repair success.
        <br /><br />

        <b>Abbreviated Operational Summary - December 31, 2011</b>

        <table cellpadding="0" cellspacing="0" border="0" style="border-color:Black;" class="table table-striped table-bordered">
                <thead style="background-color:#0077b8;">
                    <tr>
                        <td>Leak Type</td> <td>Successful Jobs</td> <td>Unsuccessful Jobs</td> <td>Service Only</td> <td>Total Operations</td> <td>Success Rate</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="background-color:Gray;">SCSSVs and Control Lines</td> <td>568</td> <td>120</td> <td>320</td> <td>1008</td> <td>83%</td>
                    </tr>
                    <tr>
                        <td style="background-color:Gray;">Wellheads & Hangers</td> <td>447</td> <td>71</td> <td>419</td> <td>937</td> <td>86%</td>
                    </tr>
                    <tr>
                        <td style="background-color:Gray">Subsea Equip. & Umbilicals</td> <td>219</td> <td>35</td> <td>86</td> <td>340</td> <td>86%</td>
                    </tr>
                    <tr>
                        <td style="background-color:Gray;">Tubing & Casing</td> <td>108</td> <td>28</td> <td>50</td> <td>186</td> <td>79%</td>
                    </tr>
                    <tr>
                        <td style="background-color:Gray;">Micro-annulus Cement</td> <td>55</td> <td>6</td> <td>32</td> <td>93</td> <td>90%</td>
                    </tr>
                    <tr>
                        <td style="background-color:Gray;">Surface Equipment</td> <td>38</td> <td>8</td> <td>25</td> <td>71</td> <td>83%</td>
                    </tr>
                    <tr>
                        <td style="background-color:Gray;">Downhole Equipment</td> <td>25</td> <td>6</td> <td>19</td> <td>50</td> <td>81%</td>
                    </tr>
                </tbody>
                <tfoot style="background-color:#0077b8;">
                    <tr>
                        <td>Totals</td> <td>1460</td> <td>274</td> <td>951</td> <td>2685</td> <td>85%</td>
                    </tr>
                </tfoot>
            </table>

            <sub>Notes:<br />
                 [1] Success Rate - The success rate is based on the number of successful jobs divided by the total number of jobs for which sealant was pumped.
                 <br />
                 [2] Service Only - Service only, where disagnostics were performed, but no sealant was pumped.
            </sub>
    </p>

</div>