@{
    ViewBag.Title = "TechnicalPapers";
}

<div class="container-white shadow">

<div class="container-hs">
<h2 style="margin-left:3%;">Technical Papers</h2>
</div>

<b>Sealant Technology Articles in Industry Magazines</b> <br /><br />

<p>
    SPE 96432: “Use of Pressure Activated Sealants to Cure Leaks in Subsea Wells - A Case Study in Campos Basin” <a href="../../Content/Docs/SPE96432.pdf" target="_blank"><font color="black"><b>[ Read More ]</b></font></a> 
    <br /><br />
    SMRI October 2005: “Restoring Wellbore Integrity. A Case Study” <a href="../../Content/Docs/Restoring_Wellbore_Integrity_SMRI_Oct_2005.pdf" target="_blank"><font color="black"><b>[ Read More ]</b></font></a>
    <br /><br />
    SPE 91400: “Internal Repair of Pipeline Leaks Using Pressure-Activated Sealant” <a href="../../Content/Docs/SPE91400-1.pdf" target="_blank"><font color="black"><b>[ Read More ]</b></font></a>
    <br /><br />
    SPE 91399: “Microannulus Leaks Repaired with Pressure-Activated Sealant” <a href="../../Content/Docs/SPE91399.pdf" target="_blank"><font color="black"><b>[ Read More ]</b></font></a>
    <br /><br />
    Pressure-Activated Sealant Technology.
    A Cost-Effective Alternative to Conventional Leak Repair Methods.
    SPE Technical Bulletin, Italian Section - March 2006
    <br /><br />

    Maintaining wellbore integrity is an ongoing process within the oil and gas industry. Leaks occur. The conventional method of repair is to mobilize a workover rig, at considerable cost and potential harm to personnel and environment. What is needed is a method of repairing leaking wellbore equipment and control systems in-situ without the need of mobilizing expensive and risky intervention operations. Pressure-activated sealant technology is such a method... <a href="../../Content/Docs/SPE_Italy_Technical_Bulletin_March_2006.pdf" target="_blank"><font color="black"><b>[ Read More ]</b></font></a>
    <br /><br />
    Pressure activated sealant repairs drilling riser leak.
    Roustabout Magazine – April 2006
    <br /><br />

    “The leak was repaired and the client was able to complete drilling operations over the next 30 days with no further riser-related downtime”... <a href="../../Content/Docs/Roustabout_April_2006.pdf" target="_blank"><font color="black"><b>[ Read More ]</b></font></a>
    <br /><br />
    Company Finds Cure for Downhole Leaks without Expensive Workover Operations
    Offshore Source – April 2006
    <br /><br />

    Barry Ellis, founder and managing director of Seal-Tite® International, worked as a problem-well specialist for one of the world’s major oil companies. During his fieldwork in Libya, Malaysia and the Gulf of Mexico, Ellis saw a need for a method of curing downhole leaks without having to perform expensive workover operations... <a href="../../Content/Docs/Offshore_Source_April_2006.pdf" target="_blank"><font color="black"><b>[ Read More ]</b></font></a>
    <br /><br />
    Case History #1185 - Tubing Leak
    Roustabout Magazine – August 2006
    <br /><br />

    Seal-Tite® was contacted by a major oil company in the German Sector of the North Sea & was informed that diagnostic work determined that a leak existed in the tubing hanger to tubing pup joint Fox thread connection. It was also noted that a slightly abnormal torque curve was seen during make-up of this connection... <a href="../../Content/Docs/Roustabout_August_2006.pdf" target="_blank"><font color="black"><b>[ Read More ]</b></font></a>
    <br /><br />
    Pressure-activated sealants are finding increasing use as a method for curing downhole leaks.
    Merchant Oil & Gas Technology – Autumn 2006
    <br /><br />

    The technique involves using a pressure-activated fluid additive that polymerises into a flexible solid upon contact with the leak site. The sealants are unique in that a sustained pressure drop through a leak site causes the sealant fluid to polymerise into a flexible solid seal. The sealant remains fluid until exposed to a pressure differential... <a href="../../Content/Docs/Merchant_OiL_Gas_Technology_Autumn_2006-1.pdf" target="_blank"><font color="black"><b>[ Read More ]</b></font></a>
    <br /><br />
    SMRI April 2005: “Annulus Communications Eliminated using Pressure-Activated Sealant” <a href="../../Content/Docs/Annulus_Communications_Eliminated_using_Pressure-Activated_Sealant_April_2005.pdf" target="_blank"><font color="black"><b>[ Read More ]</b></font></a>
    <br /><br />
    SPE 88566: “Subsea Leaks Cured with Pressure-Activated Sealant” <a href="../../Content/Docs/SPE88566.pdf" target="_blank"><font color="black"><b>[ Read More ]</b></font></a>
    <br /><br />
    SPE 64400: “New Workover and Completion Technology Utilized in Bass Strait” <a href="../../Content/Docs/SPE64400.pdf" target="_blank"><font color="black"><b>[ Read More ]</b></font></a>
    <br /><br />
    SPE 59026: “Leak-Sealant in Hydraulic Systems Minimizes Costs in OffShore Wells” <a href="../../Content/Docs/SPE59026.pdf"../../Content/Docs/SPE59026.pdf" target="_blank"><font color="black"><b>[ Read More ]</b></font></a>
    <br /><br />
    SPE 55996: “Use of Pressure Activated Sealants to Cure Sources of Casing Pressure” <a href="../../Content/Docs/SPE55996.pdf" target="_blank"><font color="black"><b>[ Read More ]</b></font></a>
    <br /><br />
</p>

</div>