@{
    ViewBag.Title = "Testing";
}


<div class="container-white shadow">

<div class="container-hs">
<h2 style="margin-left:3%;">Seal-Tite® Formula Testing</h2>
</div>

<p style="padding:10px;">
    
    <b>SEAL-TITE® IS TESTED EFFECTIVE AND SAFE</b>
    <br /><br />
    Tests performed by oil and service companies, as well as independent laboratories, have found the Seal-Tite® formula to be an effective sealant technology that can cure leaks at a fraction of the cost of mechanical repairs. Our sealants work effectively for various leak repairs including wellhead, umbilical, control line, subsea connection, casing & tubing hanger, microannulus and safety valve leaks. The reports and videos are listed below for your convenience.
    <br /><br />

    <center>
    <table cellpadding="10px" style="padding:10px;">
        <tr>
            <td>
                <b>View Test Reports</b>
                <ul>
                    <li>Operating Companies</li>
                    <ul>
                          <li><a href="../Reports/chemicalInjectionMandrelTestingReport" ><font color="blue">Chemical Injection Mandrel - Shell Offshore</font></a></li>
                          <li><a href="../Reports/SubsurfaceSafetyValveTestingReport" ><font color="blue">Subsurface Safety Valve - Pemex</font></a></li>
                          <li><a href="../Reports/SubsurfaceSafetyValveTestingReportPetrobras" ><font color="blue">Subsurface Safety Valve - Petrobras</font></a></li>
                          <li><a href="../Reports/UmbilicalLineTestingReport" ><font color="blue">Umbilical Line - Petrobras</font></a></li>
                          <li><a href="../../Content/Docs/Fiber Optic Cable Micro-Seal Test Results 25Sep2012.doc" target="_blank"><font color="blue">Fiber Optic Tube - Pressure Isolation</font></a></li> 
                    </ul>
                    
                    <li>Service Companies</li>
                    <ul>
                         <li><a href="../Reports/WellheadAndHangerTestingReport" ><font color="blue">Wellhead</font></a></li>
                         <li><a href="../Reports/SubseaControlValveTestingReport" ><font color="blue">Subsea Control Valve</font></a></li>
                         <li><a href="../Reports/SubseaSCSSVControlCircuitTestingReport" ><font color="blue">Subsea SCSSV Control Circuit</font></a></li>
                    </ul>

                    <li> Independent Labs</li>
                    <ul>
                         <li><a href="../Reports/FilterTestGlyFlo" ><font color="blue">Filter Test-Gly-Flo</font></a></li>
                         <li><a href="../Reports/SpecializedTestGlyFlo" ><font color="blue">Specialized Test-Gly-Flo</font></a></li>
                    </ul>
                </ul>
            </td>
            <td>
                <b>View Test Videos</b>
                <ul>
                    <li><a href="http://www.cncnola.com/clients/sticom/files/multimedia/control_lines.wmv" target="_blank"><font color="blue">Control Lines</font></a></li>
                    <li><a href="http://www.cncnola.com/clients/sticom/files/multimedia/casing_pressure_microannulus.wmv" target="_blank"><font color="blue">Microannulus - Casing Pressure</font></a></li>
                    <li><a href="http://www.cncnola.com/clients/sticom/files/multimedia/tubing_scssv.wmv" target="_blank"><font color="blue">SCSSV (Tubing Retrievable)</font></a></li>
                    <li><a href="http://www.cncnola.com/clients/sticom/files/multimedia/wireline_scssv.wmv" target="_blank"><font color="blue">SCSSV (Wireline Retrievable)</font></a></li>
                    <li><a href="http://www.cncnola.com/clients/sticom/files/multimedia/seal_stack_leak_test.wmv" target="_blank"><font color="blue">Seal Stack Leak Test</font></a></li>
                    <li><a href="http://www.cncnola.com/clients/sticom/files/multimedia/subsea_valve_leak.wmv" target="_blank"><font color="blue">Subsea Valve Leak</font></a></li>
                    <li><a href="http://www.cncnola.com/clients/sticom/files/multimedia/umbilical_leak_sealant_test.wmv" target="_blank"><font color="blue">Umbilical Leak Sealant Test</font></a></li>
                    <li><a href="http://www.cncnola.com/clients/sticom/files/multimedia/umbilical_line_leak.wmv" target="_blank"><font color="blue">Umbilical Line Leak</font></a></li>
                    <li><a href="http://www.cncnola.com/clients/sticom/files/multimedia/wellhead_leak.wmv" target="_blank"><font color="blue">Wellhead Leak</font></a></li>
                    <br />
                    <br />
                    <br /><br />
                </ul>
            </td>
        </tr>
    </table>
    </center>

</p>

</div>