@{
    ViewBag.Title = "Troubleshooting";
}

<div class="container-white shadow">

<div class="container-hs">
<h2 style="margin-left:3%;">Troubleshooting</h2>
</div>

<p style="padding:10px;">

    Seal-Tite® strives to offer our customers the very best service and products. In doing so, we are happy to assist you with any issues you may be having with your product, even those used for high pressure leak repair jobs. Since there are numerous types of leak repairs that require our sealants, including subsea connection, casing & tubing hanger, control line, flowline, microannulus, packer, production tubing, safety valve, salt dome storage cavern, sustained casing pressure, umbilical and wellhead leaks we do have steps in place to better assist you.
    <br /><br />
    For Seal-Tite® to precisely diagnose the problem, please complete the appropriate Trouble Shooting Data Sheet(s).
    <br /><br />
    Seal-Tite® engineers will assess the situation and develop procedures to correct the problem. Based on this assessment, Seal-Tite® will custom blend the correct sealant formula to meet the needs of your system.
    <br /><br />
    Note that additional diagnostics to determine the source and severity of the leak will need to be performed onsite, and the formula adapted, if necessary, prior to injection into the hydraulic system.
    <br /><br />

    <center>
    <table cellpadding="0" cellspacing="0" border="0" style="border-color:Black;" class="table table-striped table-bordered">
        <thead style="background-color:#0077b8;">
            <tr>
                <td><b>English</b></td>  <td><b>Espanol</b></td>
            </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                Ball Valve Leak <a href="../../Content/Docs/Troubleshooting/TSDS_Ball_Valve.doc"><font color="blue">DOC</font></a> | <a href="../../Content/Docs/Troubleshooting/TSDS_Ball_Valve.pdf"><font color="blue">PDF</font></a>
                <br />
                Casing Leak <a href="../../Content/Docs/Troubleshooting/TSDS_Casing.doc"><font color="blue">DOC</font></a> | <a href="../../Content/Docs/Troubleshooting/TSDS_Casing.pdf"><font color="blue">PDF</font></a>
                <br />
                Micro-Annulus Cement Leak <a href="../../Content/Docs/Troubleshooting/TSDS_Micro-Annulus_Cement.doc"><font color="blue">DOC</font></a> | <a href="../../Content/Docs/Troubleshooting/TSDS_Micro-Annulus_Cement.pdf"><font color="blue">PDF</font></a>
                <br />
                Packer Leak <a href="../../Content/Docs/Troubleshooting/TSDS_Packer.doc"><font color="blue">DOC</font></a> | <a href="../../Content/Docs/Troubleshooting/TSDS_Packer.pdf"><font color="blue">PDF</font></a>
                <br />
                SCSSV Leak <a href="../../Content/Docs/Troubleshooting/TSDS_SCSSV.doc"><font color="blue">DOC</font></a> | <a href="../../Content/Docs/Troubleshooting/TSDS_SCSSV.pdf"><font color="blue">PDF</font></a>
                <br />
                Subsea Drilling Riser Leak <a href="../../Content/Docs/Troubleshooting/TSDS_Subsea.doc"><font color="blue">DOC</font></a> | <a href="../../Content/Docs/Troubleshooting/TSDS_Subsea.pdf"><font color="blue">PDF</font></a>
                <br />
                Tubing Leak <a href="../../Content/Docs/Troubleshooting/TSDS_Tubing.doc"><font color="blue">DOC</font></a> | <a href="../../Content/Docs/Troubleshooting/TSDS_Tubing.pdf"><font color="blue">PDF</font></a>
                <br />
                Umbilical Leak <a href="../../Content/Docs/Troubleshooting/TSDS_Umbilical.doc"><font color="blue">DOC</font></a> | <a href="../../Content/Docs/Troubleshooting/TSDS_Umbilical.pdf"><font color="blue">PDF</font></a>
                <br />
                Wellhead Casing Hanger Leak <a href="../../Content/Docs/Troubleshooting/TSDS_Wellhead_Casing_Hanger.doc"><font color="blue">DOC</font></a> | <a href="../../Content/Docs/Troubleshooting/TSDS_Wellhead_Casing_Hanger.pdf"><font color="blue">PDF</font></a>
                <br />
                Wellhead Tubing Hanger Lea <a href="../../Content/Docs/Troubleshooting/TSDS_Wellhead_Tubing_Hanger.doc"><font color="blue">DOC</font></a> | <a href="../../Content/Docs/Troubleshooting/TSDS_Wellhead_Tubing_Hanger.pdf"><font color="blue">PDF</font></a>
                <br />
                Pipeline Leak <a href="../../Content/Docs/Troubleshooting/TSDS_Pipeline.doc"><font color="blue">DOC</font></a> | <a href="../../Content/Docs/Troubleshooting/TSDS_Pipeline.pdf"><font color="blue">PDF</font></a>
                <br />
                Chemical Injection Line <a href="../../Content/Docs/Troubleshooting/TSDS_Chemical_Injection_Line.doc"><font color="blue">DOC</font></a> | <a href="../../Content/Docs/Troubleshooting/TSDS_Chemical_Injection_Line.pdf"><font color="blue">PDF</font></a>
                <br />
                Drilling Riser <a href="../../Content/Docs/Troubleshooting/TSDS_Drilling_Riser.doc"><font color="blue">DOC</font></a> | <a href="../../Content/Docs/Troubleshooting/TSDS_Drilling_Riser.pdf"><font color="blue">PDF</font></a>
                <br />
                Gate Valve Leak <a href="../../Content/Docs/Troubleshooting/TSDS_Gate_Valve.doc"><font color="blue">DOC</font></a> | <a href="../../Content/Docs/Troubleshooting/TSDS_Gate_Valve.pdf"><font color="blue">PDF</font></a>
                <br />
            </td>
            <td>
                Ball Valve Leak <a href="../../Content/Docs/Troubleshooting/Espanol/TSDS_Ball_Valve_Espanol.doc"><font color="blue">DOC</font></a> | <a href="../../Content/Docs/Troubleshooting/Espanol/TSDS_Ball_Valve_Espanol.pdf"><font color="blue">PDF</font></a>
                <br />    
                Casing Leak <a href="../../Content/Docs/Troubleshooting/Espanol/TSDS_Casing_Espanol.doc"><font color="blue">DOC</font></a> | <a href="../../Content/Docs/Troubleshooting/Espanol/TSDS_Casing_Espanol.pdf"><font color="blue">PDF</font></a>
                <br />
                Micro-Annulus Cement Leak <a href="../../Content/Docs/Troubleshooting/Espanol/TSDS_Micro-Annulus_Cement_Espanol.doc"><font color="blue">DOC</font></a> | <a href="../../Content/Docs/Troubleshooting/Espanol/TSDS_Micro-Annulus_Cement_Espanol.pdf"><font color="blue">PDF</font></a>
                <br />
                Packer Leak <a href="../../Content/Docs/Troubleshooting/Espanol/TSDS_Packer_Espanol.doc"><font color="blue">DOC</font></a> | <a href="../../Content/Docs/Troubleshooting/Espanol/TSDS_Packer_Espanol.pdf"><font color="blue">PDF</font></a>
                <br />
                SCSSV Leak <a href="../../Content/Docs/Troubleshooting/Espanol/TSDS_SCSSV_Espanol.doc"><font color="blue">DOC</font></a> | <a href="../../Content/Docs/Troubleshooting/Espanol/TSDS_SCSSV_Espanol.pdf"><font color="blue">PDF</font></a>
                <br />
                Subsea Drilling Riser Leak <a href="../../Content/Docs/Troubleshooting/Espanol/TSDS_Subsea_Drilling_Riser_Espanol.pdf"><font color="blue">PDF</font></a>
                <br />
                Tubing Leak <a href="../../Content/Docs/Troubleshooting/Espanol/TSDS_Tubing_Espanol.doc""><font color="blue">DOC</font></a> | <a href="../../Content/Docs/Troubleshooting/Espanol/TSDS_Tubing_Espanol.pdf"><font color="blue">PDF</font></a>
                <br />
                Umbilical Leak <a href= "../../Content/Docs/Troubleshooting/Espanol/TSDS_Umbilical_Espanol.doc""><font color="blue">DOC</font></a> | <a href="../../Content/Docs/Troubleshooting/Espanol/TSDS_Umbilical_Espanol.pdf"><font color="blue">PDF</font></a>
                <br />
                Wellhead Casing Hanger Leak <a href="../../Content/Docs/Troubleshooting/Espanol/TSDS_Wellhead_Casing_Hanger_Espanol.doc"><font color="blue">DOC</font></a> | <a href="../../Content/Docs/Troubleshooting/Espanol/TSDS_Wellhead_Casing_Hanger_Espanol.pdf"><font color="blue">PDF</font></a>
                <br />
                Wellhead Tubing Hanger Leak <a href="../../Content/Docs/Troubleshooting/Espanol/TSDS_Wellhead_Tubing_Hanger_Espanol.doc"><font color="blue">DOC</font></a> | <a href="../../Content/Docs/Troubleshooting/Espanol/TSDS_Wellhead_Tubing_Hanger_Espanol.pdf"><font color="blue">PDF</font></a>
                <br />
                Pipeline Leak <a href="../../Content/Docs/Troubleshooting/Espanol/TSDS_Pipeline_Espanol.doc"><font color="blue">DOC</font></a> | <a href="../../Content/Docs/Troubleshooting/Espanol/TSDS_Pipeline_Espanol.pdf"><font color="blue">PDF</font></a>
                <br />
            </td>
        </tr>
        </tbody>
    </table>
    </center>
</p>

</div>