@{
    ViewBag.Title = "Videos";
}
<div class="container-white shadow">

<div class="container-hs">
<h2 style="margin-left:3%;">Videos and Animations</h2>
</div>
    <center><div class="container-video">
    <h3>Wellhead</h3>
        <center>
        <iframe allowfullscreen="" frameborder="0" height="360" src="http://www.youtube.com/embed/-FpxX3N73_A" width="425"></iframe>
        </center>
    </div></center>

    <br />

    <center><div class="container-video">
    <h3>Umbillical</h3>
        <center>
        <iframe allowfullscreen="" frameborder="0" height="360" src="http://www.youtube.com/embed/Zl6Cvw5N6cE" width="425"></iframe>
        </center>
    </div></center>
    
    <br />

    <center><div class="container-video">
    <h3>Tubing</h3>
        <center>
        <iframe allowfullscreen="" frameborder="0" height="349" src="http://www.youtube.com/embed/uYeI_QZ1s3A?hl=en&amp;fs=1" width="425"></iframe>
        </center>
    </div></center>
    
    <br />

    <center><div class="container-video">
    <h3>Subsea</h3>
        <center>
        <iframe allowfullscreen="" frameborder="0" height="349" src="http://www.youtube.com/embed/xQCRWNFs3AQ?hl=en&amp;fs=1" width="425"></iframe>
        </center>
    </div></center>

    <br />

    <center><div class="container-video">
    <h3>SCSSV</h3>
        <center>
        <iframe allowfullscreen="" frameborder="0" height="349" src="http://www.youtube.com/embed/u3Yn8qIJlpw?hl=en&amp;fs=1" width="425"></iframe>
        </center>
    </div></center>

    <br />

    <center><div class="container-video">
    <h3>Microannulus</h3>
        <center>
        <iframe allowfullscreen="" frameborder="0" height="349" src="http://www.youtube.com/embed/HJ16MmD3nO8?hl=en&amp;fs=1" width="425"></iframe>
        </center>
    </div></center>

    <br />

    <center><div class="container-video">
    <h3>Cavern</h3>
        <center>
        <iframe allowfullscreen="" frameborder="0" height="349" src="http://www.youtube.com/embed/SkAc6XWOCWU?hl=en&amp;fs=1" width="425"></iframe>
        </center>
    </div></center>

    <br />

    <center><div class="container-video">
    <h3>Casing</h3>
        <center>
        <iframe allowfullscreen="" frameborder="0" height="349" src="http://www.youtube.com/embed/7TslskcaesA?hl=en&amp;fs=1" width="425"></iframe>
        </center>
    </div></center>
</div>

 
