@{
    ViewBag.Title = "Who We Are";
}


<div class="container-white shadow">
<hgroup class="title">
    
    <div class="container-hs">
    <h1 style="margin-left:3%;">@ViewBag.Title</h1>
    </div>
</hgroup>

<article>

<table cellpadding="15px">
      <tr>
        <td>
          <h3>Background</h3>
          <p>
           <img src="../../Content/images/leakstopshere.jpg" style="height:200px; width:150px; float:right;" /> Ellis, founder and managing director 
           of Seal-Tite® International, worked as a problem-well specialist for one of the world's major oil companies. 
           During his field work in Libya, Malaysia, and the Gulf of Mexico, Ellis saw a need for a method of curing 
           downhold leaks without having to perform expensive workover operations. His entrepreneurial spirit led to the 
           founding of Seal-Tite® International in 1995 and the development of a line of unique pressure-activated sealants.
           <br />
           <br />
           <a href="../../Content/Docs/Seal-TiteBrochure.pdf" target="_blank"><font color="black"><b>Seal-Tite Brochure</b></font></a>

<h3>Product Development</h3>
     <p>
        Seal-Tite International has a line of unique pressure-activated sealants the seal leaks in oilfield environments.
         The sealants are unique in that the pressure drop through the leak site causes the sealants to polymerize into a 
         flexible solid. Only at this point of differential pressure will the sealant polymerization process occur. As the
          reaction proceeds polymerized sealant forms at the edges of the leak site and simultaneously links together to 
          form a flexible bond across the leak site. The remainder of the sealant is the system remains liquid. 
     </p>
    </td>      
  </tr>
</table>
</article>
</div>
